/*
* Achievements
*/

ul.checkmark {
    list-style:none;
}

ul.checkmark li:before {
    content:"\2713\0020";
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

.summary-text#achie {
	align-items: left !important;
}


.summary-container#silver {
	background-color: $light-background-color;
	align-items: left;
}

