/*
* Collaboration
*/

/* Summary Collaboration */

.summary-container#collaborations {
	min-height: 350px;
}

.collab-header {
	text-align: justify;
	font-size: 22px;
	margin: 5px;
	align-items: left;
	margin-top: 15px;
}

.collab-text {
	text-align: justify;
	font-size: 18px;
	margin: 5px;
	align-items: left;
}