/*
* Human Practices Gold Integrated
*/

/* Main Containers Gold */

.gold-main-con {
	display: flex;
    flex-direction: row;
    align-items: stretch !important;
    justify-content: left;
}

.gold-col-left {
	width: 10%;
}

.gold-col-mid {
	width: 80%;
	display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/* Contents */

.contents-con-gold {
	display: flex;
    flex-direction: row;
    align-items: stretch !important;
    justify-content: center;
}

.contents-holder-gold {
	width: 20%;
	flex-direction: column;
	display: flex;
	align-items: stretch;
	border-radius: 15px;
	background-color: $dark-background-color;
	margin-top: 3%;
	margin-bottom: 3%;
}

.contents-holder-gold#left {
	margin-left: 10%;
	margin-right: 5%;
}

.contents-holder-gold#middel {
	margin-left: 5%;
	margin-right: 5%;
}

.contents-holder-gold#right {
	margin-left: 5%;
	margin-right: 10%
}

/* Black Boxes Gold */

.gold-box {
	width: 100%;
	flex-direction: column;
	display: flex;
	border-radius: 25px;
	background-color: $dark-background-color;
	margin-left: 0%;
	margin-top: 0%;
}

.icon-holder {
	flex-direction: row !important;
	display: flex;
}

.icon-single-holder {
	width: 23.33333%;
	margin-left: 5%;
	margin-right: 5%;
	flex-direction: column;
	margin-top: 10px;
}

.icon-single-holder#duo {
	width: 25%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.icon-single-holder#small {
	width: 20%;
	margin-left: 15%;
	margin-right: 15%;
}

/* Text */

.summary-text#gold {
	margin: 10px;
}

.content-text {
	align-items: center !important;
	margin: 10px;
}

.gold-header {
	font-size: 28px;
	margin-left: 10px;
}

.gold-header#medium {
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center !important;
}

.summary-text#goldmain {
	margin-top: 0px;
	margin-left: 10px;
}

.summary-text#boxunder {
	text-align: center !important;
}

.summary-text#box {
	text-align: center !important;
}

.in-text-link {
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
}

