/*
* Section Buttons
*/

.section-button-container {
	width: 100%;
	background-color: rgba(25,25,25,1);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section-button {
	position: relative;
	width: 15%;
	margin: 30px 1.5%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

.section-button > img {
	position: absolute;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.section-button > p {
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%)
}
/*
* Summaries
*/

/* Summary container and columns */
div[class^="summary-"] {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.summary-container {
	min-height: 275px;
	align-items: stretch !important;
	background-color: rgba(25,25,25,1);
}

/* Summary columns */
.summary-col-left {
	width: 20%;
}

.summary-col-right {
	width: 10%;
	margin-left: 10%;
}

.summary-col-mid {
	width: 60% !important;
}

.vertical-text {
	font-size: 42px; 
	writing-mode: vertical-lr;
	text-align: center;
	margin: 10px 0px;
	z-index: 100000;
}

.summary-text {
	text-align: left;
	font-size: 24px;
	margin: 10px;
}

.in-text-link {
	color:#00ffff
}

.in-text-link:hover {
	color:#008888
}

/*Spacer*/

.home-spacer img {
	width: 76px;
	height: 275px;
}

/*Modules Summary*/
.home-spacer#modules {
	width: 100%;
	height: 788px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
  	background-image: -webkit-linear-gradient(-65deg, #333 50%, rgba(25,25,25,1) 50%);
}

.home-spacer#modules img {
	height: 394px;
}

.summary-container#modules {
	position: relative;
}

.summary-container#modules > div[class^="summary-col-"] {
	width: 10%;
	position: relative;
}

.summary-container#modules > .summary-col-mid {
	width: 80% !important;
	align-items: flex-start !important;
}

.summary-container#modules > .summary-col-right {
	margin-left: 0;
}

.summary-modules-outer {
	flex-direction: column !important;
	flex-wrap: nowrap;
}

.animated-module-icon {
	width: 100px;
	height: 100px;
}

.modules-summary-text {
	padding: 0px 15px;
}

.modules-summary-text > h1 {
	font-size: large;
}

.modules-summary-text > p {
	font-size: medium;
	text-align: left;
}


