
/*
* Section Buttons
*/

.section-button-container {
	width: 100%;
	background-color: $light-background-color;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section-button {
	position: relative;
	width: 15%;
	margin: 30px 1.5%;
}

.section-button > img {
	position: absolute;
	height: 50%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-button > p {
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
}

.section-button:hover > p {
	color: rgba(150,150,150,1);
}

/*
* Project
*/

.home-project-container-outer {
	position: relative;
	width: 100%;
	background-color: $dark-background-color;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.home-project-container {
	position: relative;
	left: 25%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.line-connector-container {
	width: 100%;
	height: 50px;
	position: relative;
}

.line-connector-container#second {
	width: 45.25%;
	margin-left: 54.75%;
}

.line-connector {
	height: 100%;
	position: absolute;
}

.line-connector#first {
	width: 34.8%;
	border-top: 2px solid white;
	border-left: 2px solid white;
	left: 7.5%;
}

.line-connector#second {
	height: 50%;
	width: 42.5%;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	left: 7.5%;
}

.line-connector#third {
	width: 2px;
	border-right: 2px solid white;
	left: 56.25%;
}

.line-connector#fourth {
	width: 2px;
	border-right: 2px solid white;
	left: 53.125%;
}

.line-connector#fifth {
	width: 49%;
	border-top: 2px solid white;
	border-left: 2px solid white;
	left: 7.5%;
}

.line-connector#sixth {
	width: 2px;
	border-right: 2px solid white;
	left: 85%;
}

.line-connector#seventh {
	width: 77.8%;
	border-top: 2px solid white;
	border-left: 2px solid white;
	left: 7.5%;
}

.line-connector#eight {
	width: 64%;
	border-top: 2px solid white;
	border-left: 2px solid white;
	left: 3.5%;
}

.home-content-container {
	width: 100%;
	position: relative;
	overflow: auto;
}

.home-intro-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: center;
}

.home-intro-container > img {
	width: 20%;
	padding: 20px 5%;
}

.home-intro-container#second > img {
	width: 25%;
}

.home-intro-container > p {
	text-align: left;
	margin: 0;
}

.home-intro-container#first {
	width: 60%;
	left: 0;
}

.home-intro-container#fifth {
	width: 60%;
	left: 0;
}

.home-intro-container#fifth > img {
	padding: 20px 2.5%;
}

.home-intro-container#second {
	width: 50%;
	left: 50%;
}

.home-gif-container {
	padding: 0 0;
	width: 100%;
	background-color: $dark-background-color;
}

.vertical-text-container-outer#home {
    margin-left: 20%;
}

.info-oval-container#home {
	padding-top: 0;
	padding-bottom: 0;
}



