$main-color: rgba(88, 190, 190, 1);
$light-background-color: #333;
$dark-background-color: rgba(25,25,25,1);
$info-oval-color: rgba(109, 126, 128, 1);

/*
* Section Buttons
*/

.section-button-container {
	width: 100%;
	background-color: $light-background-color;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section-button {
	position: relative;
	width: 15%;
	margin: 30px 1.5%;
}

.section-button > img {
	position: absolute;
	height: 50%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-button > p {
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
}

.section-button:hover > p {
	color: rgba(150,150,150,1);
}

/*
* Project
*/

.home-project-container-outer {
	position: relative;
	width: 100%;
	background-color: $dark-background-color;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.home-project-container {
	position: relative;
	left: 25%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.line-connector-container {
	width: 100%;
	height: 50px;
	position: relative;
}

.line-connector {
	height: 100%;
	position: absolute;
}

.line-connector#first {
	width: 2px;
	border-right: 2px solid white;
	right: 50%;
}

.line-connector#second {
	right: 50%;
	width: 7.5%;
}

.line-connector#third {
	right: 57.2%;
	width: 34.8%;
	border-right: 2px solid white;
	border-bottom: 2px solid white;

}

.line-connector#fourth {
	width: 2px;
	border-right: 2px solid white;
	left: 7.5%;
}

.line-connector#fifth {
	height: 50%;
	width: 42.5%;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	left: 7.5%;
}

.line-connector#sixth {
	width: 2px;
	border-right: 2px solid white;
	left: 56.25%;
}

.line-connector#seventh {
	width: 2px;
	border-right: 2px solid white;
	left: 53.125%;
}

.home-content-container {
	width: 100%;
	position: relative;
	overflow: auto;
}

.home-intro-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: center;
}

.home-intro-container > img {
	width: 20%;
	padding: 20px 5%;
}

.home-intro-container#second > img {
	width: 25%;
	padding: 20px 5%;
}

.home-intro-container > p {
	text-align: left;
	margin: 0;
}

.home-intro-container#first {
	width: 60%;
	left: 0;
}

.home-intro-container#second {
	width: 50%;
	left: 50%;
}

.vertical-text-container-outer {
	position: absolute;
	height: 100%;
	margin-left: 20%;
	width: 5%;
	right: 0%;
}

.vertical-text-container {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info-oval-container {
	background-color: $light-background-color;
	position: relative;
	width: 100%;
	overflow: auto;
}

.info-oval {
	display: flex;
	flex-direction: row;
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.info-oval > p {
	height: 100%;
	background-color: $info-oval-color;
	text-align: left;
	margin-bottom: 0;
}

.info-oval > div[class$="-semi-circle"] {
	background-color: $info-oval-color;
}

.home-gif-container {
	padding: 100px 0;
	width: 100%;
	background-color: $dark-background-color;
}


