/*
* Section Buttons
*/

.section-button-container {
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section-button {
	position: relative;
	width: 15%;
	margin: 30px 1.5%;
}

.section-button > img {
	position: absolute;
	height: 50%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-button > p {
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
}

.section-button:hover > p {
	color: rgba(150,150,150,1);
}

/*
* Project
*/

.home-project-container-outer {
	position: relative;
	width: 100%;
	background-color: rgba(25,25,25,1);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.home-project-container {
	position: relative;
	left: 20%;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.line-connector-container {
	width: 100%;
	height: 50px;
	position: relative;
}

.line-connector {
	height: 100%;
	position: absolute;
}

.line-connector#first {
	width: 2px;
	border-right: 2px solid white;
	right: 50%;
}

.line-connector#second {
	right: 50%;
	width: 5%;
}

.line-connector#third {
	right: 54.8%;
	width: 39.75%;
	border-right: 2px solid white;
	border-bottom: 2px solid white;

}

.line-connector#fourth {
	width: 2px;
	border-right: 2px solid white;
	left: 5%;
}

.line-connector#fifth {
	height: 50%;
	width: 50%;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	left: 5%;
}

.line-connector#sixth {
	width: 2px;
	border-right: 2px solid white;
	left: 59.5%;
}

.home-content-container {
	width: 100%;
	position: relative;
	overflow: auto;
}

.home-intro-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: center;
}

.home-intro-container > img {
	width: 15%;
	padding: 20px 5%;
}

.home-intro-container > p {
	text-align: left;
	margin: 0;
}

.home-intro-container#first {
	width: 50%;
	left: 0;
}

.home-intro-container#second {
	width: 45%;
	left: 55%;
}

.vertical-text-container-outer {
	position: absolute;
	margin-left: 10%;
	width: 5%;
	right: 0%;
}

/*
* Summaries
*/

/* Summary container and columns */
div[class^="summary-"] {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.summary-container {
	min-height: 275px;
	align-items: stretch !important;
	background-color: rgba(25,25,25,1);
}

/* Summary columns */
.summary-col-left {
	width: 20%;
}

.summary-col-right {
	width: 10%;
	margin-left: 10%;
}

.summary-col-mid {
	width: 60% !important;
}

.vertical-text {
	font-size: 42px; 
	writing-mode: vertical-lr;
	text-align: center;
	margin: 10px 0px;
	z-index: 100000;
}

.summary-text {
	text-align: left;
	font-size: 24px;
	margin: 10px;
}

.in-text-link {
	color:#00ffff
}

.in-text-link:hover {
	color:#008888
}

/*Spacer*/

.home-spacer img {
	width: 76px;
	height: 275px;
}

/*Modules Summary*/
.home-spacer#modules {
	width: 100%;
	height: 788px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
  	background-image: -webkit-linear-gradient(-65deg, #333 50%, rgba(25,25,25,1) 50%);
}

.home-spacer#modules img {
	height: 394px;
}

.summary-container#modules {
	position: relative;
}

.summary-container#modules > div[class^="summary-col-"] {
	width: 10%;
	position: relative;
}

.summary-container#modules > .summary-col-mid {
	width: 80% !important;
	align-items: flex-start !important;
}

.summary-container#modules > .summary-col-right {
	margin-left: 0;
}

.summary-modules-outer {
	flex-direction: column !important;
	flex-wrap: nowrap;
	width: 25%;
}

.animated-module-icon {
	width: 100px;
	height: 100px;
}

.modules-summary-text {
	padding: 0px 15px;
}

.modules-summary-text > h1 {
	font-size: large;
}

.modules-summary-text > p {
	font-size: medium;
	text-align: left;
}


