/*
* Interlab
*/


/* InterLab Summary */

.inter-text {
	text-align: justify;
	font-size: 18px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: center;
	font-family: avenir;
}

.inter-header {
	text-align: left !important;
	font-size: 28px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 10px;
	align-items: left;
	font-family: avenir;
}

.interlab-sum-mid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 65% !important;
}


/* InterLab Results */


.inter-container {
	min-height: 275px;
	background-color: $light-background-color;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: stretch !important;
}

.interlab-left {
	width: 9.25%;
}

.interlab-mid {
	width: 81.5% !important;
	vertical-align: middle;
	display: flex;
  	justify-content: center;
  	align-items: center; 
  	flex-direction: column;
}

.interlab-right {
	width: 9.25%;
}

.graph-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.graph-description {
	display: table;
	width: 480px;
	margin: 20px;
}

.interlab-graph {
	width: 480px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.interlab-graph-description {
	text-align: left;
	font-size: 16px;
	align-items: center;
}

.title-container {
	width: 100%;
	align-items: left;
}


/* InterLab Protocol */

.inter-text#proto {
	text-align: center;
	font-size: 18px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: center;
	font-family: avenir;
}

.inter-text#prototitle {
	text-align: left;
	font-size: 18px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: center;
	font-family: avenir;
}
