.module-outer-container {
	padding: 0 15%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.highlights-list {
	list-style-type: square;
	text-align: left;
}

.module-visible-container {
	width: 100%;
	align-items: left;
	justify-content: left;
}

.module-collapsible-container-outer {
	width: 100%;
}


