.module-outer-container {
	padding: 0 15%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.highlights-list {
	list-style-type: square;
	text-align: left;
}

.references-list {
	text-align: left;
}

.module-visible-container {
	width: 100%;
	align-items: left;
	justify-content: left;
}

.module-collapsible-container-outer {
	width: 100%;
}

.module-collapsible-container-inner {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.collapsible-main-header {
	align-self: left;
	font-size: 24px;
}

.project-header {
	align-self: left;
}

#table31 > img, #table31 > figcaption {
	width: 100%;
	max-width: 900px;
}

#table32 > img, #table32 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig31 > img, #fig31 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig32 > img, #fig32 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig33 > img {
	width: 50%;
	max-width: 700px;
}

 #fig33 > figcaption {
 	width: 50%;
 	margin-left: 25%;
}

#fig34 > img, #fig34 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig35 > img, #fig35 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig36 > img, #fig36 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig37 > img {
	width: 30%;
	max-width: 700px;
}

#fig37 > figcaption {
	width: 30%;
	margin-left: 35%;
}

#fig38 > img, #fig38 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig41 > img, #fig41 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig42 > img, #fig42 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig43 > img, #fig43 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig44 > img {
	width: 40%;
	max-width: 700px;
} 

#fig44 > figcaption {
	width: 40%;
	margin-left: 30%;
}

#figS41 > img, #figS41 {
	width: 100%;
	max-width: 700px; 
}

#figS42 > img, #figS42 {
	width: 100%;
	max-width: 700px; 
}

#figS43 > img, #figS43 {
	width: 100%;
	max-width: 700px; 
}

#tabS41 > img, #tabS41 {
	width: 100%;
	max-width: 700px; 
}

#tabS42 > img, #tabS42 {
	width: 100%;
	max-width: 700px; 
}

.export-list {
	text-align: left;
}

