.module-outer-container {
	padding: 0 15%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.highlights-list {
	list-style-type: square;
	text-align: left;
}

.references-list {
	text-align: left;
}

.module-visible-container {
	width: 100%;
	align-items: left;
	justify-content: left;
}

.module-collapsible-container-outer {
	width: 100%;
}

.module-collapsible-container-inner {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.collapsible-main-header {
	align-self: left;
	font-size: 24px;
}

.project-header {
	align-self: left;
}

#box21 > img, #box21 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig21 > img, #fig21 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig211 > img, #fig211 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig212 > img, #fig212 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig213 > img, #fig213 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig214 > img, #fig214 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig215 > img, #fig215 > figcaption {
	width: 100%;
	max-width: 500px;
}

#fig216 > img, #fig216 > figcaption {
	width: 100%;
	max-width: 700px;
}


#table21 > img, #table21 > figcaption {
	width: 100%;
	max-width: 700px;
}

#table22 > img, #table22 > figcaption {
	width: 100%;
	max-width: 400px;
}

#fig22 > img, #fig22 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig23 > img, #fig23 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig24 > img, #fig24 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig25 > img {
	width: 70%;
	max-width: 700px;
}

#fig25 > figcaption {
	width: 70%;
	margin-left: 15%;
}

#fig26 > img, #fig26 > figcaption {
	width: 100%;
	max-width: 600px;
}

#fig27 > img, #fig27 > figcaption {
	width: 100%;
	max-width: 600px;
}

#fig28 > img, #fig28 > figcaption {
	width: 100%;
	max-width: 600px;
}

#fig29 > img, #fig29 > figcaption {
	width: 100%;
	max-width: 600px;
}

#table31 > img, #table31 > figcaption {
	width: 100%;
	max-width: 900px;
}

#table32 > img, #table32 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig31 > img, #fig31 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig32 > img, #fig32 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig33 > img {
	width: 50%;
	max-width: 700px;
}

#fig33 > figcaption {
 	width: 50%;
 	margin-left: 25%;
}

#fig34 > img, #fig34 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig35 > img, #fig35 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig36 > img, #fig36 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig37 > img {
	width: 30%;
	max-width: 700px;
}

#fig37 > figcaption {
	width: 30%;
	margin-left: 35%;
}

#fig38 > img, #fig38 > figcaption {
	width: 100%;
	max-width: 900px;
}

#fig41 > img, #fig41 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig42 > img, #fig42 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig43 > img, #fig43 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig44 > img {
	width: 40%;
	max-width: 700px;
} 

#fig44 > figcaption {
	width: 40%;
	margin-left: 30%;
}

#figS41 > img, #figS41 {
	width: 100%;
	max-width: 700px; 
}

#figS42 > img, #figS42 {
	width: 100%;
	max-width: 700px; 
}

#figS43 > img, #figS43 {
	width: 100%;
	max-width: 700px; 
}

#tabS41 > img, #tabS41 {
	width: 100%;
	max-width: 700px; 
}

#tabS42 > img, #tabS42 {
	width: 100%;
	max-width: 700px; 
}

#tab51 > img {
	width: 50%;
	max-width: 700px;
}

#tab51 > figcaption {
	width: 50%;
	margin-left: 25%;
}

#tab52 > img {
	width: 60%;
	max-width: 700px;
}

#tab52 > figcaption {
	width: 60%;
	margin-left: 20%;
}

#fig51 > img, #fig51 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig52 > img, #fig52 > figcaption {
	width: 100%;
	max-width: 700px;
}

#fig52 > img {
	background-color: white;
}



#fig53 > img {
	background-color: white;
	width: 40%;
	max-width: 700px;
}

#fig53 > figcaption {
	width: 40%;
	margin-left: 30%;
}

#fig56 > img, #fig56 > figcaption {
	width: 100%;
	max-width: 700px;
}

.export-list {
	text-align: left;
}

.produce-list {
	text-align: left;
}

