/*
* Outreach
*/

/* Outreach Summary */

.summary-container#outreach {
	min-height: 310px;
}

.summary-col-left#outreach {
	width: 10%;

}

.summary-col-mid#outreach {
	width: 80%;
}

/* Outreach List */

.outer-container-light {
	min-height: 275px;
	background-color: $light-background-color;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: stretch !important;
}

.outer-col-container {
	width: 40%;
	margin: 5%;
	margin-top: 3% !important;
}

.outer-icon {
	margin: 20px;
	width: 100px;
}

.outer-title {
	color: $main-color;
}

.outer-text#list {
	text-align: justify;
	font-size: 18px;
	align-items: center;
	margin-bottom: 0px;
}


.outer-text#reach {
	text-align: justify;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 35px;
	align-items: center;
	font-style: italic;
}

.podcast {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}


