/*
* Outreach
*/

/* Outreach Summary */

.summary-col-left#outreach {
	width: 10%;

}

.summary-col-mid#outreach {
	width: 80%;
}

/* Outreach List */

.outr-container-gray {
	min-height: 275px;
	background-color: rgba(50, 50, 50,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: stretch !important;
}

.outr-col-container {
	width: 40%;
	margin: 5%;
	margin-top: 3% !important;
}

.outr-icon {
	margin: 20px;
	width: 100px;
}

.outr-title {
	color: rgba(88, 190, 190, 1);
	font-weight: bold;
}

.outr-text#list {
	text-align: justify;
	font-size: 18px;
	align-items: center;
	font-family: avenir;
	margin-bottom: 0px;
}


.outr-text#reach {
	text-align: justify;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 35px;
	align-items: center;
	font-family: avenir;
	font-style: italic;
}




