/*
* Parts
*/

.biobrick-image {
	width: 80%;
}

.main-con-parts {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: stretch !important;
}

.parts-col-left {
	width: 10%;
}

.parts-col-mid {
	width: 80%;
}

.parts-header {
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.parts-graph-con {
	flex-direction: row;
	width: 100%;
}

.parts-graph#left {
	width: 47.5%;
	margin-right: 2%;
}

.parts-graph#right {
	width: 47.5%;
	margin-left: 2%;
}

.summary-text#underheader {
	margin-top: 0px;
}

.summary-text#equation {
	text-align: center !important;
}

.summary-text#img-parts {
	text-align: left;
	font-size: 16px;
	width: 35%;
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-top: 0px;
}

.summary-text#parts-graph-descr {
	font-size: 16px;
	margin-bottom: 20px;
}