/*
* Human Practice Silver 
*/

.summary-text#silver {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Contents */

.contents-con-silver {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.silver-col-left {
	width: 10%;
}

.contents-holder-silver {
	width: 35%;
	flex-direction: row;
	display: flex;
	border-radius: 15px;
	background-color: $dark-background-color;
	margin-right: 5%;
	margin-left:0%;
	margin-top: 3%;
	margin-bottom: 0%;
}

.contents-holder-silver#right {
	margin-right: 0%;
	margin-left: 5%;
}

.icon-holder-silver {
	width: 30%;
	margin: 2.5%;
	justify-content: center;
	display: flex;
	align-items: center;
}

.text-holder-silver {
	width: 60%;
	margin: 2.5%;
}

/* HP Main container */

.main-container-silver {
	position: relative;
    justify-content: flex-start !important;
    min-height: 275px;
    align-items: stretch !important;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.main-con-left-silver {
	width: 5%;
}

.main-con-mid-silver {
	width: 80%;
	flex-direction: column !important;
	display: flex;
}

.header-silver {
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 0.5%;
	margin-left: 20px;
}

/* Person Holders */

.main-holder-silver {
	width: 100%;
	flex-direction: row;
	display: flex;
	border-radius: 35px;
	background-color: $dark-background-color;
	margin-left: 0%;
	margin-top: 0%;
}

.portrait-holder-silver {
	margin: 10px;
	width: 30%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.text-box-silver {
	width: 95%;
	margin-top: 0px !important;
	margin: 20px;
	text-align: center;
}

/* Large Person Holder */

.main-holder-silver#large {
	width: 100%;
}

.portrait-holder-silver#large {
	width: 10%;
	margin: 20px;
	margin-right: 0;
}

.text-holder-silver#large {
	width: 82%;
	margin-right: 0px;
	text-align: center;
}

/* Media HP Silver */

.klimaatmovie {
	width: 80%;
	margin: 30px;
	margin-left: 10%;
}

.slideshow-silver {
	width: 100%;
}

.image-slideshow {
	display: none;
	width: 100%;
}

.image-slideshow2 {
	display: none;
	width: 100%;
}

.image-slideshow3 {
	display: none;
	width: 100%;
}

.prev, .next {
	cursor: pointer;
	position: relative;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50%;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.slideshow-img-silver {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}












