/*
* Sponsors
*/



/* Sponsor Header Area */

.sponsor-sum-container {
	position: relative;
	min-height: 275px;
	background-color: rgba(25, 25, 25,1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sponsor-left-container {
	width: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.vertical-text-container-outer#sponsors {
	margin-left: 15%;
}

.sponsor-right-container {
	width: 10%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.sponsor-mid-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80% !important;
}

.sponsor-sum-container#spacer {
	min-height: 275px;
	background-color: rgba(50, 50, 50,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: stretch !important;
}

.sponsors-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sponsor-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 30px 0;
}

.sponsor-container.alternate{
	background-color: rgba(25,25,25,1);
}

.sponsor-title {
	width: 70%;
	text-align: left;
	font-size: 30px;
	padding-left: 2.5%;
}

.sponsor-title-left {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sponsor-image-container {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sponsor-image {
	width: 50%;
}

.sponsor-txt {
	width: 70%;
	text-align: left;
	padding-left: 2.5%;
}