/*
* Sponsors
*/



/* Sponsor Header Area */

.sponsor-sum-container {
	position: relative;
	min-height: 275px;
	background-color: $dark-background-color;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.sponsor-left-container {
	width: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.sponsor-mid-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.sponsors-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sponsor-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 30px 0;
}

.sponsor-container.alternate{
	background-color: $dark-background-color;
}

.sponsor-image-container {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sponsor-image {
	width: 50%;
}

.sponsor-txt-container {
	width: 75%;
}

.sponsor-title {
	text-align: left;
	font-size: 30px;
	padding-left: 2.5%;
}

.sponsor-txt {
	width: 90%;
	text-align: left;
	padding-left: 2.5%;
}