/*
* Team
*/

/* Team container */

.team-sum-container {
	min-height: 275px;
	background-color: rgba(25,25,25,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: stretch !important;
}

.team-photo-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(25,25,25,1);
	width: 100%;
}

.team-photo-container#supervisors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	background-color: rgba(50,50,50,1);
	width: 100%;
}

.team-portrait {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 60px 2.5%;
	width: 28.33333%;
}

.team-sum-text {
	font-family: avenir;
	text-align: justify;
	font-size: 20px;
	margin: 10px;
}

/* Group photo and text below */

.group-photo-container {
	min-height: 275px;
	background-color: rgba(50,50,50,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: stretch !important;
}

.group-left-container {
	width: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.group-right-container {
	width: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.group-mid-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80% !important;
}

.group-mid-container#text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 820px !important;
}

.group-photo {
	width: 800px;
	height: 535.6px;
	margin-bottom: 20px;
}

.team-spacer {
	height: 225px;
}

.photo-spacer {
	heigth: 225px;
	width: 107px;
}
/* Team Photos and text */

.team-photo {
	width: 100%;
}

.team-photo#bram {
	width: 100%;
	height: 424px;
}

.team-name {
	font-size: medium;
	width: 200px;
	font-family: avenir;

}

/* Hoover over photos */

.img_wrap {
  position: relative;
  height: 424px;
  width: 100%;
}

.img_wrap#mo {
  position: relative;
  height: 205px;
  width: 100%;
}

.img_wrap#thijs {
  position: relative;
  height: 424px;
  width: 100%;
}

.img_wrap#super {
  position: relative;
  height: 421px;
  width: 100%;
}

.img_description {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: rgba(169, 186, 176, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.img_text {
	text-align: center;
	margin-top: 10%;
	font-family: avenir;
}

.team-portrait-test {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 2.5%;
	width: 26.3333%;
}

.summary-col-right-test {
	width: 2%;
	margin-right: 4%;
}

/* Acknowledgement */

.ack-col-left {
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.ack-header {
	text-align: left;
	font-size: 22px;
	margin: 10px;
	margin-top: 20px;
	align-items: center;
	font-family: avenir;
}

.ack-text {
	text-align: justify;
	font-size: 16px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: left;
	font-family: avenir;
}

.ack-text#list {
	text-align: left;
	font-size: 18px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: left;
	font-family: avenir;
}

.mo-portrait {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 185px;
	postion: relative;
}

.link-logo {
	width: 80px;
	margin-top: 67%;
	opacity: 0.7;
}

/* Vertical text */

.side-text {
	font-size: 42px; 
	writing-mode: vertical-lr;
	text-align: center;
	margin: 10px 0px;
	z-index: 100000;
}




