/*
* Team
*/

/* Team container */

.team-photo-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: $dark-background-color;
	width: 100%;
}

.team-photo-container#supervisors {
	background-color: $light-background-color;
}

.team-portrait {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 2.5%;
	width: 26.33333%;
}

.team-sum-text {
	font-family: avenir;
	text-align: justify;
	font-size: 20px;
	margin: 10px;
}

/* Group photo and text below */

.group-photo-container {
	position: relative;
	min-height: 275px;
	background-color: rgba(50,50,50,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.group-container {
	width: 100%;
	position: relative;
	min-height: 275px;
	background-color: rgba(25,25,25,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.group-left-container {
	width: 10%;
}

.group-right-container {
	width: 10%;
}

.group-mid-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.group-photo {
	width: 800px;
	height: 535.6px;
	margin-bottom: 20px;
}

.team-spacer {
	height: 225px;
}

.photo-spacer {
	heigth: 225px;
	width: 107px;
}
/* Team Photos and text */

.team-photo {
	width: 100%;
}

.team-name {
	font-size: medium;
	width: 100%;
}

/* Hoover over photos */

.img_wrap {
	position: absolute;
	top: 0%;
  	width: 100%;
  	overflow: auto;
}

.img_wrap#mo {
  position: relative;
  height: 205px;
  width: 100%;
}

.img_description {
  position: absolute;
  top: 0%;
  left: 0%;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  background: rgba(169, 186, 176, 0.72);
  transition: opacity 1s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.img_text {
	text-align: center;
	padding-top: 10%;
}

.vertical-text-container-outer#team {
	width: 5%;
	margin-left: 1%;
}

/* Acknowledgement */

.ack-container {
	position: relative;
	background-color: $dark-background-color;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.ack-col-left {
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.ack-col-mid {
	width: 60%;
}

.ack-header {
	text-align: left;
	font-size: 22px;
	margin: 10px;
	margin-top: 20px;
	align-items: center;
	font-family: avenir;
}

.ack-text {
	text-align: justify;
	font-size: 16px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: left;
	font-family: avenir;
}

.ack-text#list {
	text-align: left;
	font-size: 18px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: left;
	font-family: avenir;
}

.mo-portrait {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 185px;
	postion: relative;
}

.link-logo {
	width: 80px;
	margin-top: 67%;
	opacity: 0.7;
}

/* Vertical text */

.side-text {
	font-size: 42px; 
	writing-mode: vertical-lr;
	text-align: center;
	margin: 10px 0px;
	z-index: 100000;
}




