/*
* Team
*/

.team-sum-text {
	font-family: avenir;
	text-align: justify;
	font-size: 20px;
	margin: 10px;
}

/* Group photo and text below */

.group-photo-container {
	position: relative;
	min-height: 275px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.groupphoto-mid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.groupphoto-left {
	width: 10%;
}

.group-photo {
	width: 800px;
	height: 535.6px;
	margin-bottom: 20px;
}

/* Team container */

.team-photo-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: $dark-background-color;
	width: 100%;
}

.team-photo-container#supervisors {
	background-color: $light-background-color;
}

.team-portrait {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 2.5%;
	width: 26.33333%;
}

.team-portrait#mohammad {
	margin-top: 150px;
}

/* Team Photos and text */

.team-photo {
	width: 100%;
}

.team-name {
	font-size: medium;
	width: 100%;
}

/* Hoover over photos */

.team-image-wrap {
	position: relative;
	background-size: 100% 100%;
  	width: 100%;
  	overflow: auto;
}

.team-image-wrap#bram {
	background-image: url("http://2017.igem.org/wiki/images/b/be/Bram1.jpg");
}

.team-image-wrap#yuki {
	background-image: url("http://2017.igem.org/wiki/images/a/a4/Yuki.jpg");
}

.team-image-wrap#max {
	background-image: url("http://2017.igem.org/wiki/images/8/84/Max.jpg");
}

.team-image-wrap#age {
	background-image: url("http://2017.igem.org/wiki/images/d/d6/Age.jpg");
}

.team-image-wrap#josine {
	background-image: url("http://2017.igem.org/wiki/images/7/7f/Josine.jpg");
}

.team-image-wrap#thijs {
	background-image: url("http://2017.igem.org/wiki/images/d/d7/Thijs.jpg");
}

.team-image-wrap#filipe {
	background-image: url("http://2017.igem.org/wiki/images/4/42/Filipe.jpg");
}

.team-image-wrap#wei {
	background-image: url("http://2017.igem.org/wiki/images/b/ba/Wei.jpg");
}

.team-image-wrap#joeri {
	background-image: url("http://2017.igem.org/wiki/images/d/d4/Joeri.jpg");
}

.mo-team-image-wrap {
	position: relative;
	background-image: url("http://2017.igem.org/wiki/images/7/75/Mohammad.jpg");
	background-size: 100% 100%;
  	width: 200px;
  	height: 246px;
  	overflow: auto;
}

.img_description {
  position: relative;
  top: 0%;
  left: 0%;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  background: rgba(169, 186, 176, 0.72);
  transition: opacity 1s, visibility .2s;
}

.mo-team-image-wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.team-image-wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.img_text {
	text-align: center;
	padding-top: 10%;
}

.vertical-text-container-outer#team {
	width: 5%;
	margin-left: 1%;
}

/* Acknowledgement */

.ack-container {
	position: relative;
	background-color: $dark-background-color;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.ack-col-left {
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.ack-col-mid {
	width: 70%;
}

.ack-header {
	text-align: left;
	font-size: 22px;
	margin: 10px;
	margin-top: 20px;
	align-items: center;
}

.ack-header#mo {
	text-align: left;
	font-size: 22px;
	margin: 10px;
	margin-top: 45px;
	align-items: center;
}

.ack-text {
	text-align: justify;
	font-size: 16px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: left;
}

.ack-text#list {
	text-align: left;
	font-size: 18px;
	margin: 10px;
	margin-top: 1%;
	margin-bottom: 20px;
	align-items: left;
}

.link-logo-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: none !important;
}

.link-logo {
	width: 80px;
}




