@charset "utf-8";

/* Import includes */
#bodyContent {
    
    @import "bootstrap";
    @import "_partials/cover";
    @import "_partials/home";
    @import "_partials/old_home";
    @import "_partials/sponsors";
    @import "_partials/team";
    @import "_partials/interlab";
    @import "_partials/attributions";
    

    color: #fff;
    text-align: center;

    .site-wrapper {
        background-color: #333;
    }

    /* remove https link styling */
    a[href ^="https://"].btn-secondary, .link-http  {
        background: #fff;
    }

    * {
    font-family: avenir;
    }

    .page-header {
        width: 100%;
        margin-bottom: 75px;
    }
    .page-header > h1 {
        text-decoration: underline;
        
    }
}
