@charset "utf-8";

/* Import includes */
#bodyContent {

    $main-color: rgba(88, 190, 190, 1);
    $light-background-color: #333;
    $dark-background-color: rgba(25,25,25,1);
    $info-oval-color: rgba(109, 126, 128, 1);

    @import "bootstrap";
    @import "_partials/cover";
    @import "_partials/home";
    @import "_partials/old_home";
    @import "_partials/sponsors";
    @import "_partials/team";
    @import "_partials/interlab";
    @import "_partials/attributions";
    @import "_partials/outreach";
    @import "_partials/project";
    @import "_partials/labjournal";
    @import "_partials/safety";
    @import "_partials/collaboration";
    @import "_partials/protocol";
    @import "_partials/modules";
    @import "_partials/achievements";
    @import "_partials/practices";
    @import "_partials/lab";
    @import "_partials/silver";
    @import "_partials/methods";
    @import "_partials/gold";
    @import "_partials/carbon";
    @import "_partials/parts";


    color: #fff;
    text-align: center;

    .site-wrapper {
        background-color: #333;
    }

    /* remove https link styling */
    a[href ^="https://"].btn-secondary, .link-http  {
        background: #fff;
    }

    * {
        font-family: Avenir, verdana !important;
    }

    p, h1 {
        text-align: justify !important;
    }

    /* Summary container and columns */
    div[class^="summary-"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .summary-container {
        position: relative;
        justify-content: flex-start !important;
        min-height: 275px;
        align-items: stretch !important;
        background-color: $dark-background-color;
        overflow: hidden;
    }

    /* Summary columns */
    .summary-col-left {
        width: 20%;
    }

    .summary-col-mid {
        width: 70%;
        justify-content: flex-start !important;
    }

    .summary-text {
        text-align: left;
        font-size: 18px;
        margin: 10px 0;
    }

    /* Vertical Text */
    .vertical-text-container-outer {
        position: absolute;
        height: 100%;
        right: 0%;
        top: 0%;
        width: 80px;
    }

    .vertical-text-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .vertical-text {
        font-size: 42px;
        writing-mode: vertical-lr;
        text-align: center;
        text-transform: uppercase;
    }

    /* Info Ovals */
    .info-oval-container {
        background-color: $light-background-color;
        position: relative;
        width: 100%;
        overflow: auto;
    }

    .info-oval {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .info-oval > p {
        height: 100%;
        background-color: $info-oval-color;
        text-align: left;
        margin-bottom: 0;
    }

    .info-oval > div[class$="-semi-circle"] {
        background-color: $info-oval-color;
    }

    /* Logo Spacer */
    .logo-spacer {
        height: 200px;
        width: 100%;
        background-color: $light-background-color;
    }

    .logo-spacer.alternate {
        background-color: $dark-background-color;
    }

    .logo-spacer > img {
        height: 100%;
    }

    .in-text-link {
        color:$main-color;
        font-size: inherit;
        text-decoration: underline;
        margin-left: 0px;
        margin-right: 0px;
    }

    .in-text-link:hover {
        color:#008888;
    }

    .text-highlight {
        color: $main-color;
    }

    figure {
        display: table;
        margin: 50px auto;
    }

    figcaption {
        text-align: justify !important;
    }

    footer-wide {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
