<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title>
	<% if current_page.data.title != "Home" %>
		Team:Amsterdam/<%= current_page.data.title %> - 2017.igem.org
	<% else %>
		Team:Amsterdam - 2017.igem.org
	<% end %>
</title>
<meta name="generator" content="MediaWiki 1.24.1" />
<!-- add igem base style from load.php -->
<style>
	<%= partial "layouts/wiki_style" %>
</style>
<!-- end of igem base style -->
<style>a:lang(ar),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur){text-decoration:none}</style>
</head>
<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-Team_Amsterdam_test_joeri_index skin-igem action-view">
    <div id='globalWrapper'>
        <div id='top_menu_under' class='noprint'></div>
        <div id='top_menu_14' class='noprint'>
            <div id="top_menu_inside">
                <ul>
                    <li class="has_submenu">
                        <a href="http://2017.igem.org" style="color:white">iGEM</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Content div contains HQ_page for HQ styles, Logo and title div, and USER CONTENT -->
		<div id="content" class="mw-body" role="main">
		    <a id="top"></a>
            <div id="top_title">
                <div class="logo_2017">
                    <a href="http://2017.igem.org">
                    <img src="http://2017.igem.org/wiki/images/8/8b/HQ_page_logo.jpg" width="100px">
                    </a>
                </div>
 		        <h1 id="firstHeading" class="firstHeading">
		            <span dir="auto">Team:Amsterdam/test/joeri/index</span>
		        </h1>
            </div>
            <div id="HQ_page">
                <div id="bodyContent">
		            <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
		            <!-- START OF iGEM Content -->
