---
title: Achievements
---

<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/achievements/bronze.png" class="proto-icon">
	</div>
	<div class="summary-col-mid" >
			<ul class="checkmark">
				<li class="summary-text" id="achie">Register for iGEM, have a great summer, and attend the Giant Jamboree.</li>
				<li class="summary-text" id="achie">Meet all deliverables on the Competition Deliverables page.</li>
				<li class="summary-text" id="achie">Create a page on your team wiki with clear attribution of each aspect of your project. <a href="/Attributions.html" target="_black" class="in-text-link">Show me!</a></li>
				<li class="summary-text" id="achie">Participate in the Interlab Measurement Study <a href="/InterLab.html" target="_black" class="in-text-link">Show me!</a></li>
			</ul>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>bronze</p>
		</div>
	</div>
</div>
<div class="summary-container" id="silver">
	<div class="summary-col-left">
		<img src="images/achievements/silver.png" class="proto-icon">
	</div>
	<div class="summary-col-mid">
		<ul class="checkmark">
			<li class="summary-text" id="achie">Convince the judges that at least one new BioBrick Part of your own design that is central to your project works as expected. <a href="/Parts.html" target="_black" class="in-text-link">Show me!</a></li>
			<li class="summary-text" id="achie">Convince the judges you have significantly worked with any other registered iGEM team in a meaningful way. <a href="/Collaborations.html" target="_black" class="in-text-link">Show me!</a></li>
			<li class="summary-text" id="achie">Convince the judges you have thought carefully and creatively about whether your work is safe, responsible and good for the world. <a href="/HP/Silver.html" target="_black" class="in-text-link">Show me!</a></li>
		</ul>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>silver</p>
		</div>
	</div>
</div>
<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/achievements/gold.png" class="proto-icon">
	</div>
	<div class="summary-col-mid">
		<ul class="checkmark">
			<li class="summary-text" id="achie">Expand on your silver medal activity by demonstrating how you have integrated the investigated issues into the design and/or execution of your project. <a href="/Model.html" target="_black" class="in-text-link">Show me!</a></li>
			<li class="summary-text" id="achie">Convince the judges that your project's design and/or implementation is based on insight you have gained from modeling. <a href="/HP/Gold_Integrated.html" target="_black" class="in-text-link">Show me!</a></li>
		</ul>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>gold</p>
		</div>
	</div>
</div>
<div class="summary-container" id="silver">
	<div class="summary-col-left">
		<img src="images/achievements/cup.png" class="proto-icon">
	</div>
	<div class="summary-col-mid">
		<ul class="checkmark">
			<li class="summary-text" id="achie">Best Manufacturing Project <a href="/Project.html" target="_black" class="in-text-link">Show me!</a></li>
			<li class="summary-text" id="achie">Best Education and Public Engagement <a href="/Engagement.html" target="_black" class="in-text-link">Show me!</a></li>
			<li class="summary-text" id="achie">Best Model <a href="/Model.html" target="_black" class="in-text-link">Show me!</a></li>
			<li class="summary-text" id="achie">Best Integrated Human Practices <a href="/HP/Gold_Integrated.html" target="_black" class="in-text-link">Show me!</a></li>
		</ul>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>prizes</p>
		</div>
	</div>
</div>