---
title: Attributions
---
<div class="team-spacer">
	<img src='images/logo_line1.png' class="photo-spacer">
</div>
<div class="team-sum-container">
	<div class="att-col-left">
		
	</div>
	<div class="att-col-mid">
		<p class="att-text">Our iGEM project is the result of seven months of team effort. Every member of our team has different qualities, which lead to division of the tasks. After finishing different subjects everything was discussed plenary, so everybody's point of view was integrated. In the table below the different subject are displayed with the members who were responsible for this.</p>
	</div>
	<div class="att-col-right">
		<div class="vertical-text-container">
			<p id="attributions" class="vertical-text">ATTRIBUTIONS</p>
		</div>
	</div>
	
</div>

<div class="table-container">
	<div class="table-container-left">
		
	</div>
	<div class="table-container-mid">
		<table class="attributions">
			<tbody>
				<tr class="table-row">
					<td>Subject</td>
					<td>Bram</td>
					<td>Yuki</td>
					<td>Max</td>
					<td>Age</td>
					<td>Josine</td>
					<td>Thijs</td>
				</tr>
				<tr class="table-split-row">
					<td>Wiki</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="table-row">
					<td>Content</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki">&#10003;</td>
					<td id="Max">&#10003;</td>
					<td id="Age">&#10003;</td>
					<td id="Josine">&#10003;</td>
					<td id="Thijs">&#10003;</td>
				</tr>
				<tr class="table-row">
					<td>Design</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max">&#10003;</td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Video</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Programming</td>
					<td id="Bram"></td>
					<td id="Yuki"></td>
					<td id="Max">&#10003;</td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs">&#10003;</td>
				</tr>
				<tr class="table-split-row">
					<td>Laboratory</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="table-row">
					<td>Project</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki">&#10003;</td>
					<td id="Max">&#10003;</td>
					<td id="Age">&#10003;</td>
					<td id="Josine">&#10003;</td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Modelling</td>
					<td id="Bram"></td>
					<td id="Yuki"></td>
					<td id="Max">&#10003;</td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>InterLab</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs">&#10003;</td>
				</tr>
				<tr class="table-row">
					<td>BioBrick</td>
					<td id="Bram"></td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine">&#10003;</td>
					<td id="Thijs">&#10003;</td>
				</tr>
				<tr class="table-split-row">
					<td>Human Practices</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="table-row">
					<td>Intergrated Human Practices</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Klimaatmarathon</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>RIVM Kennisparade</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age">&#10003;</td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>VICE Podcast</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age">&#10003;</td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>AmsterdamFM Podcast</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>BNR Nieuwsradio</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Newsletter</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs">&#10003;</td>
				</tr>
				<tr class="table-row">
					<td>Facebook</td>
					<td id="Bram"></td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs">&#10003;</td>
				</tr>
				<tr class="table-split-row">
					<td>Financial Affairs</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="table-row">
					<td>Financial Management</td>
					<td id="Bram"></td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age">&#10003;</td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Funding</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine">&#10003;</td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-split-row">
					<td>Giant Jamboree</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="table-row">
					<td>Presentation</td>
					<td id="Bram"></td>
					<td id="Yuki"></td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs">&#9749;</td>
				</tr>
				<tr class="table-row">
					<td>Poster Design</td>
					<td id="Bram"></td>
					<td id="Yuki">&#10003;</td>
					<td id="Max"></td>
					<td id="Age"></td>
					<td id="Josine"></td>
					<td id="Thijs"></td>
				</tr>
				<tr class="table-row">
					<td>Poster Presentation</td>
					<td id="Bram">&#10003;</td>
					<td id="Yuki">&#10003;</td>
					<td id="Max">&#10003;</td>
					<td id="Age">&#10003;</td>
					<td id="Josine">&#10003;</td>
					<td id="Thijs">&#10003;</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="table-container-right">
		
	</div>
</div>

<div class="team-sum-container">
	<div class="team-spacer">
		<img src='images/logo_line1.png' class="photo-spacer">
	</div>
</div>