---
title: Collaboration
---
<div class="summary-container" id="collaborations">
	<div class="summary-col-left">
		<img src="images/collaboration.png" class="proto-icon">
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">Nobody can do science on their own, so collaborating is a necessity. We had a lot of contact with the other Dutch iGEM teams, via e-mail and at the different meet-ups we attended. Our biggest collaboration is with the team from the University of Nebraska-Lincoln, with whom we had a lot of contact in the past months. Furthermore we attended to two European meet-ups, one in Delft and one in Leuven, where we had a lot of good conversations about science, iGEM and life.</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>Collaborate</p>
		</div>
	</div>
</div>
<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>
<div class="safety-main-container">
	<div class="safety-main-left">

	</div>
	<div class="safety-main-mid">
		<p class="collab-header">University of Nebraska-Lincoln</p>
		<p class="collab-text">BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON BRAM WILL WRITE THIS SOON</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'></p>
		</div>
	</div>
</div>
<div class="collab-main-container">
	<div class="safety-main-left">

	</div>
	<div class="collab-main-mid">
		<p class="collab-header">Skyping with the University of Lund</p>
		<p class="collab-text">The first non-dutch iGEM contact we made was with the team from Lund, Sweden. Their university participated for the first time. We arranged a Skype meeting and shared to them our approach on different subjects. They had a lot of questions for us and we brainstormed with them about things like funding and time management. To help the other teams, we also filled in all the surveys that were on the iGEM website.</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'></p>
		</div>
	</div>
</div>
<div class="safety-main-container">
	<div class="safety-main-left">

	</div>
	<div class="safety-main-mid">
		<p class="collab-header">Meet-up Wageningen</p>
		<p class="collab-text">The Wageningen iGEM team organised a Benelux iGEM meet-up, here we had the opportunity to present our project to other teams for the first time. It was a nice initiator to think about how to present our project and to meet the other teams and learn about their projects. Thanks iGEM Wageningen!</p>
		<p class="collab-header">Meet-up Delft</p>
		<p class="collab-text">The iGEM team from the TUDelft hosted a European iGEM meet-up, in which we participated. During this conference three speakers talked about synthetic biology in their field of work. After that every team presented their posters to all the other teams. We enjoyed the day and learned a lot of the poster presentation, therefore we want to thank the TUDelft iGEM team!</p>
		<p class="collab-header">Meet-up Leuven</p>
		<p class="collab-text">A month before the Giant Jamboree the team from KU Leuven organized a practice jamboree. During this event we got to practice our presentation and received feedback from the other teams. There were also some very inspiring speakers, that talked about being a scientist and the industrialization of products. It was a very informative afternoon and we are very grateful that the Leuven team set up this meeting!</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'></p>
		</div>
	</div>
</div>
<div class="collab-main-container">
	<div class="safety-main-left">

	</div>
	<div class="collab-main-mid">
		<p class="collab-header">Survey iGEM teams</p>
		<p class="collab-text">We did a lot of surveys to help as much iGEM teams with their research, most of them we found on the collaboration page of iGEM and we recieved the others via mail or Facebook:</p>
		<ul class="collab-text">
			<li>Boston University Hardware</li>
			<li>INSA UPS Toulouse France</li>
			<li>University of Nebraska-Lincoln</li>
			<li>City of London School UK</li>
			<li>Pasteur Paris</li>
			<li>Amazonas Brazil</li>
			<li>Cardiff Whales</li>
			<li>Ionis Paris</li>
			<li>UNBC-Canada</li>
			<li>Greece</li>
			<li>BNU-China</li>
			<li>University of Freiburg</li>
			<li>Heidelberg University</li>
		</ul>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'></p>
		</div>
	</div>
</div>



