---
title: Engagement
---

<div class="summary-container" id="outreach">
	<div class="summary-col-left">
		<img src="images/practices.png" class="proto-icon">
	</div>
	<div class="summary-col-mid">
			<p class="summary-text">A huge aspect of science is not informing other scientist, but informing the public about the beauty, possibilities and risks. Due to this, we were driven to tell our story to others. The conversations we had with people outside of the scientific world were very interesting. We learned a lot from their opinions about for example bacteria, environmental change and genetically modified organsims (GMO's). This led to a desire to inform the public as much as possible, with expert opinions and the point of view from the public. We did a prety good job, because we told our story about saving the world with our Cyanobacteria and the assumptions of GMO's, to over a milion people!</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>Engage</p>
		</div>
	</div>
</div>

<div class="outr-container-light">
	<div class="outr-col-container">
		<img src="images/outreach/book1.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://www.nd.nl/nieuws/wetenschap/het-klimaatprobleem-aanpakken-met-bacterien.2759670.lynkx" target="_blank">The Nederlands Dagblad</a> is a daily paper that writes about the news from a Christian point of view. Their readers are located in the less populated areas of the Netherlands.
		</p>
		<p id="reach" class="outr-text">Reach: 20,000 subscribers</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="http://www.folia.nl/wetenschap/114938/uva-studenten-zoeken-de-bacterie-die-de-wereld-kan-redden" target="_blank">Folia</a> is the journalistic medium from the University of Amsterdam and the Hogeschool of Amsterdam (HvA), the magazine was founded in 1948. Nowadays they publish a magazine twice a month, have a news site and very active social media.
		</p>
		<p id="reach" class="outr-text"> Reach: 75,000 students</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="http://www.advalvas.vu.nl/nieuws/studenten-bouwen-bacterie-die-biobrandstof-maakt" target="_blank">AdValvas</a> is the independent, journalistic platform by the Vrije Universiteit of Amsterdam. Their magazine and website are written by professional journalists and student-reporters. Their articles are open source and the magazine is published 20 times a year, which is distributed for free at the university.
		</p>
		<p id="reach" class="outr-text">Reach: 23,000 students</p>
		<img src="images/outreach/radio.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://www.bnr.nl/player/archief/20170808163710200" target="_blank">BNR</a> is a commercial Dutch radio station and is the only all-news radio in the Netherlands. They have 1.2 million listeners daily and they interviewed us about the iGEM competition, our research and the applications of the project.
			<p id="reach" class="outr-text">Reach: 1,500,000 listerners daily</p>
		</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="http://www.radioswammerdam.nl/archive/hoe-de-wetenschap-het-klimaat-wel-gaat-redden/" target="_blank">Radio Swammerdam</a> is the weekly science program of AmsterdamFM. There we talked about our project, our team and the iGEM competition. We also had a discussion about genetic modification and the risks of GMO’s in the wild.
			<p id="reach" class="outr-text">Reach: 1,000 listerners daily</p>
		</p>
		<img src="images/outreach/education.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://www.linkedin.com/in/mohammad-al-johmani-52a8b8104/" target="_blank">Mohammad Aljohmani</a> helped us with our wiki and we helped him with his English and Dutch. We came in contact with him at a refugee meeting, where he volunteered to assist us.
		</p>
		<p id="reach" class="outr-text"></p>
		<p id="list" class="outr-text">
			<span class="outr-title">High School Thesis.</span> Two students came by our lab, because they were writing a thesis about synthetic biology. We told them what our project implies and showed the lab and our experimental setup.
		</p>
		<p id="reach" class="outr-text"></p>
		<p id="list" class="outr-text">
			<font class="outr-title">Presentation at the VU.</font> We presented our research project to master students, to show them what can be done with modeling the metabolism and modifying the genes of the Cyanobacteria.
		</p>
		<p id="reach" class="outr-text"> Reach: All students from the Systems Biology Master</p>
		<img src="images/outreach/movie.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a href="https://www.youtube.com/watch?v=JGBH5-mhBHU" class="in-text-link" target="_blank">The iGEM movie </a> was recorded at Science Park during the summer vacation. We tried to explain the properties of the Cyanobacteria and to visualize the goal of our project. Also we wanted to show our workplace to our friends who were missing us this summer.
		</p>
		<p id="reach" class="outr-text">Reach: ? views</p>
		<p id="list" class="outr-text">
			<font class="in-text-link"> The Klimaatmarathon Movie</font> was made during the Klimaatmarathon. We asked the attendees what their opinion was about genetic modified organisms. The opinions of the guests there was very diverse and we comprised them in this movie.
		</p>
		<p id="reach" class="outr-text">Reach: 600 Attendees</p>
		<img src="images/outreach/facebook.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a href="https://www.facebook.com/igem2017amsterdam/" class="in-text-link" target="_blank">Facebook.</a> The goal of our Facebook page was to bring our progress to the public, we posted everything we published or where we got mentioned. Our whole team got introduced with individual texts and pictures. And also, we had a weekly post, Wisdom Wednesday, where our project was explained in easy to understand language.
		</p>
		<p id="reach" class="outr-text">Reach: 7000 people</p>
	</div>


	<div class="outr-col-container">
		<img src="images/outreach/www.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://www.scientias.nl/amsterdamse-studenten-ontwikkelen-bacterie-om-klimaatprobleem-op-lossen/" target="_blank">Scientias.nl</a> gives readers the latest news about science; astronomy, spacecraft, technology, physics, health, psychology, biology, weather, climate and history. In the Netherlands and Belgium, it is the biggest popular-scientific news site.
		</p>
		<p id="reach" class="outr-text">Reach: 500,000 unique readers a month</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://amsterdamsmartcity.com/projects/co2-in-the-city-your-pollutant-is-our-resource" target="_blank">Amsterdam Smart City</a> is an innovative platform for a future proof city, consisting of companies, start-ups, government organizations and foundations. They promote sustainable economic growth and help to develop new markets.
		</p>
		<p id="reach" class="outr-text">Reach: 3,500 organizations</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://www.bedrock.nl/2017/08/28/kan-de-cyanobacterie-het-klimaatprobleem-oplossen/" target="_blank">Bedrock</a> is an online magazine for a more healthy and aware lifestyle. Their main subjects are: mind, body and better world. They provide inspiration and motivation to help people with their personal development.
		</p>
		<p id="reach" class="outr-text">Reach: 200,000 unique readers a month</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="http://www.thebluedeal.nl/bacterie-co2-lucht-halen/" target="_blank">The Blue Deal</a> helps companies and organisations to make a difference. They help them by making plans to be more sustainable and are specialized in water, energy and materials. They also have an online news platform, where they write about the latest developments in their area of expertise.
		</p>
		<p id="reach" class="outr-text">Reach: 5,000 unique readers a month</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="http://www.uva.nl/en/shared-content/faculteiten/en/faculteit-der-natuurwetenschappen-wiskunde-en-informatica/news/2017/06/students-from-uva-and-vu-participate-in-prestigious-igem-competition-2017.html" target="_blank">The University of Amsterdam</a> is the biggest university of the Netherlands. On their site, they inform their students and alumni about the current research and the projects.
		</p>
		<p id="reach" class="outr-text">Reach: 30,000 students and 30,000 alumni</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="http://nbv.kncv.nl/k/en/n1099/news/view/124797/104679/ontbrekend-igem-team-uitgelicht.html" target="_blank"> The Dutch Biotech Association</a> (NVB) is the association for all professionals in the field of applied life sciences. They stimulate professional activities by exchanging knowledge and help their members with creating a network.
		</p>
		<p id="reach" class="outr-text">Reach: >1,000 members</p>
		<p id="list" class="outr-text">
			<a class="in-text-link" href="https://www.unitedconsumers.com/energie/nieuws/2017/09/04/sponsor-igem.jsp" target="_blank"> UnitedConsumers</a> finds it important to take its responsibilities, so they supply green electricity to all its customers. Also, United Consumers informs and advises consumers on energy saving options, for example via their site where they post news about sustainability.
		</p>
		<p id="reach" class="outr-text">Reach: 500,000 customers</p>
		<img src="images/outreach/podcast.png" class="outr-icon">
		<p id="list" class="outr-text">
			<font class="in-text-link">The Podcast</font> consists of three episodes. One with Zoë Robaey, expert in the ethics of biotechnology, Peter Mooij who is algae researcher at the TU Delft, wrote the book 'de dikke alg' and does not use GMO’s in his research and Korienke Smit a biosafety expert. They all talk about different aspects of GMO’s and how they influence the future prospective from their field of expertise.
		</p>
		<p id="reach" class="outr-text">Reach: ? Listeners</p>
		<img src="images/outreach/face2face.png" class="outr-icon">
		<p id="list" class="outr-text">
			<a href="https://www.debalie.nl/agenda/podium/de-klimaatmarathon/e_9782955/p_11769270/" class="in-text-link" target="_blank">Klimaatmarathon</a> was an event hosted by 'De Balie', a centre for politics, culture and media. During this event, multiple prominent speakers discussed the future of environmental change and the possibilities for the energy transition.
		</p>
		<p id="reach" class="outr-text">Reach: 600 Attendees</p>
		<p id="list" class="outr-text">
			<a href="http://www.rivm.nl/RIVM/Missie_en_Strategie/RIVM_Kennisparade" target="_blank" class="in-text-link">Kennisparade</a> an initiative from the RIVM, where visitors learned about how to consume  healthy, sustainable and safe nutrition. Again, children could write their name in cyanobacteria. We hope it inspires the new generation to get interested in microbiology!
		</p>
		<p id="reach" class="outr-text">Reach: 1500 Attendees</p>
		<img src="images/outreach/newsletter.png" class="outr-icon">
		<p id="list" class="outr-text">
			<font class="in-text-link">Newsletter</font> For all our sponsors, friends, family and other interested people, we made a bimonthly newsletter. In this newsletter, we show our new sponsors, the media attention we had in the past months and the progress we made in the lab.
			<ul id="list" class="outr-text">
				<li><a href="newsletter/newsletter_july_2017.pdf" target="_blank">July</a></li>
				<li><a href="newsletter/newsletter_september_2017_2.pdf" target="_blank">Septerber</a></li>
				<li>November</li>
			</ul>
		</p>
		<p id="reach" class="outr-text">Reach: 200 people</p>
	</div>
</div>





