---
title: Human Practices Gold Integrated
---

<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/achievements/gold.png" class="proto-icon">
	</div>
	<div class="summary-col-mid">
		<p class="summary-text" id="silver" style="margin-bottom: 25px; margin-top: 25px">
			<b>Integrating the investigated issues into the design of our project</b><br>
			The success and usefulness of any new technology depends entirely on how well it fits in the existing network of stakeholders. We identified them to be from academia, industry, regulatory bodies and the general public. They were involved in the development of our project from its infancy. Consequently, our engineered strains comply with the needs of end-users as they are stable and robust under natural diurnal regimes. In response to concerns from the general public about outspread of antibiotic resistance, we self-imposed the design requirement of engineering markerless strains. Moreover, we communicated this concern (and our solution) to the Dutch Ministry in conversations about our perception of safe biotechnology. With numerous other outreach activities, we were able to involve the identified stakeholders. As a result our project is entirely shaped by their input, and has an impact that extends well beyond the scope of the iGEM competition.</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>Integrated</p>
		</div>
	</div> 
</div>
<div class="contents-con-gold">
	<div class="contents-holder-gold" id="left">
		<p class="summary-text" id="gold"><a href="#photoautotrophic" class="in-text-link">Photoautotrophic organism</a></p>
		<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Synechocystis</p>
		<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Carbon efficiency</p>
	</div>
	<div class="contents-holder-gold" id="middel">
		<p class="summary-text" id="gold"><a href="#industrial" class="in-text-link">Industrial Settings</a></p>
			<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Night time production</p>
			<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Phenotypic stability</p>
			<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Sensing fumarate</p>
			<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Transporting fumarate</p>
	</div>
	<div class="contents-holder-gold" id="right">
		<p class="summary-text" id="gold"><a href="#bio-safety" class="in-text-link">Bio-safety</a></p>
		<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Antibiotic resistance</p>
		<p class="content-text"><font class="text-highlight">&ensp;&#9654;</font> Superbacteria</p>
	</div>
</div>

<div class="gold-main-con">
	<div class="gold-col-left"></div>
	<div class="gold-col-mid">
		<p class="gold-header">Photoautotrophic organism</p>
		<p class="gold-header" id="medium">Synechocystis</p>
		<p class="summary-text" id="goldmain">Traditional land-based crops are often seen as humanity’s greatest hope for self-sustained energy and commodity production. However, there is another type of organism which might have something to say about that. Cyanobacteria have been photosynthesizing and making biomass components for billions of years. And in this time,... they have become quite good at it (in fact, the best science knows of)!<br> 
		Our photoautotrophic microorganism directly converts CO<sub>2</sub> into product. Some advantages of using cyanobacteria over land-based crops, in addition to eschewing the need for inefficient intermediary steps, includes greater photosynthetic efficiency, a lack of competition for arable land with other food and feed crops, and <a href="/Carbon.html" class="in-text-link" target="_blank">higher production rates</a></p>
		<div class="gold-box">
			<p class="gold-header" id="medium">Who informed us about photoautotrophic organisms?</p>
			<div class="icon-holder">
				<div class="icon-single-holder">
					<img src="images/outreach/education.png" style="width: 50%">
					<p class="summary-text" id="box">Peter Mooij</p>
				</div>
				<div class="icon-single-holder">
					<img src="images/outreach/education.png" style="width: 50%">
					<p class="summary-text" id="box">Ron Milo</p>
				</div>
				<div class="icon-single-holder" id="industrial">
					<img src="images/outreach/education.png" style="width: 50%">
					<p class="summary-text" id="box">Klaas Hellingwerf</p>
				</div>
			</div>
			<p class="summary-text" id="boxunder">Take a look at the <a href="/HP/Silver.html" class="in-text-link">Human Practice Silver page</a> to read what they had to say!</p>
		</div>
		<p class="gold-header">Industrial Settings</p>
		<p class="summary-text" id="goldmain">Before designing our project, we have consulted experts and industrial bodies in order to identify, investigate and address the important aspects to produce under industrial settings. We integrated these aspects and entirely shaped our project by their input.</p>
		<p class="gold-header" id="medium">Night time production</p>
		<p class="summary-text" id="goldmain">While visiting the Photanol pilot-plant we saw with our own eyes that at the industrial scale, Synechocystis and other cyanobacteria are often grown in large outdoor ponds or in greenhouses, where natural solar radiation is the primary source of light. This means that the cultures are subject to an oscillating light-dark cycle. Therefore, we aim to make a cyanobacterial-cell factory that is able to produce fumarate, not only the day, but also ambitiously during the night.<br>To integrate this realization in our project, we mimicked industrial conditions in the lab by tailoring commercially available photobioreactors to be capable of simulating dynamic white light regimes. On top of that, we actually succeeded in making our cell-factory produce fumarate during the night!</p>
		<a href="/Produce.html" class="in-text-link" id="gold" target="_blank">>> Read more about night time production</a>
		<p class="gold-header" id="medium">Phenotypic stability</p>
		<p class="summary-text" id="goldmain">Experts have taught us that production rates are important in industrial settings. However, the production rates reported are often calculated based on the maximal values achieved transiently during the cultivation. In reality, these production rates are not sustained and will vary throughout the cultivation. What is more, these maximal production rates cannot be reached again by the same culture, even with the addition of fresh medium. This phenomena has been attributed to strain instability. By introducing heterologous production pathways, cells are forced to divert resources towards an extraneous product, and away from growth. Cells which then lose the ability to produce the product are able to grow faster and eventually take over the population, resulting in irreversible loss of production.<br>To integrate this into our project, we looked for solutions to strain instability. One of these can involve the alignment of production of the desired compound with the fitness of the cell, i.e. the cell must produce in order to grow. One method for stable production is to knock-out genes whose proteins recycle anabolic byproducts. To see how we could align the production of fumarate with the fitness of the cell, we used the 2015 Amsterdam iGEM teams algorithm FRUITS.</p>
		<a href="/Produce.html" class="in-text-link" id="gold" target="_blank">>> Read more about phenotypic stability</a>
		<p class="gold-header" id="medium">Sensing fumarate</p>
		<p class="summary-text" id="goldmain">Not only from our conversations with experts and industry, but also from first hand experience, we learned that measuring fumarate takes a lot more time than one would think. Normally, samples are prepped and then run through an HPLC, which can take between 30 to 60 minutes. Now this does not sound that bad for one sample, but when you start having over 500 samples - just like we had over the summer -  this quickly becomes a bottleneck.<br>That is why, in our quest to engineer fumarate-producing cyanobacterial factories, we need a way to quickly and easily determine if a given genetically engineered construct is actually producing fumarate. For this purpose, we constructed a biosensor, i.e. an Escherichia coli strain that is able to sense and quantitatively report the presence of fumarate in the extracellular medium. </p>
		<a href="/Detect.html" class="in-text-link" id="gold" target="_blank">>>Read more about our fumarate biosensor</a>
		<p class="gold-header" id="medium">Fumarate transport</p>
		<p class="summary-text" id="goldmain">We were advised that while designing metabolic engineering strategies, the downstream processing is often unfortunately neglected. For example, even when we have a stable cell-factory able to produce a chemical compound, it is only the product that is excreted from the cells that is readily available in a downstream process of a “real-world” scenario. Furthermore, if the chemical is accumulated intracellularly, it may prove to inhibit its own production, and potentially even growth, by product inhibition.<br>We decided to specifically incorporate this in our project by studying the native fumarate transport system of Synechocystis, which was thus far completely unknown.</p>
		<a href="/Export.html" class="in-text-link" id="gold" target="_blank">>> Read more about fumarate transport</a>
		<div class="gold-box">
			<p class="gold-header" id="medium">Who informed us about industrial settings?</p>
			<div class="icon-holder">
				<div class="icon-single-holder" id="duo">
					<img src="images/outreach/education.png" style="width: 50%">
					<p class="summary-text" id="box">Klaas Hellingwerf</p>
				</div>
				<div class="icon-single-holder" id="duo">
					<img src="images/sections/project.png" id="bio-safety" style="width: 50%">
					<p class="summary-text" id="box">Photanol</p>
				</div>
			</div>
			<p class="summary-text" id="boxunder">Take a look at the <a href="/HP/Silver.html" class="in-text-link">Human Practice Silver page</a> to read what they had to say!</p>
		</div>
		<p class="gold-header">Bio-safety</p>
		<p class="summary-text" id="goldmain">As biological engineers we have a great responsibility to the public - our research needs to be done safely. In order to prevent humans and the environment from potentially harmful events, we integrated the advice from the general public and regulatory bodies into our design to the best of our abilities.</p>
		<p class="gold-header" id="medium">Antibiotic resistance</p>
		<p class="summary-text" id="goldmain">Traditionally, the introduction of an antibiotic resistance marker accompanies gene insertions or deletions such as the ones that we planned to implement in our project. However, input collected from discussions with the RIVM and the general public, pointed out that it would be much better to avoid the presence of resistance markers in the final production strains altogether.<br>Our team has decided to adopt the markerless genetic modification approach, resulting in a markerless gene insertion or deletion. Although much more time and effort (~2 fold) went into their engineering, the newly designed strains will never be at risk of passing on to natural environments resistance cassettes, increasing their bio-safety and public acceptance. All the production strains in this iGEM project were engineered according to this principle and are therefore considered biosafe and ready to be further engineered or used in a real-world setting.</p>
		<a href="/Methods.html" class="in-text-link" id="gold" target="_blank">>> Read more about the use of antibiotics</a>
		<p class="gold-header" id="medium">Superbacteria</p>
		<p class="summary-text" id="goldmain">TWhen talking to the general public at a large, public event (Climate Marathon), it was often the same fear that was being expressed: “Modified bacteria will grow uncontrollably and take over from natural species”. This thought is based on the fact that bacteria are famous for their high growth rates and people have heard of examples in which genome modifications had unpredictable effects.<br>However, we shaped our project such, that the genetic engineering poses minimum danger for the environment. Cellular metabolism is a complex intracellular web of molecular interactions, and bacteria have been optimizing (evolving) for over a billion of years. When you force your bacteria to produce a compound, such as fumarate, it will be hampered in growth. It has to spend energy on producing your product to an extent that it will always be out-competed by natural isolates. Due to the alterations we have made to our cell factories, we have given our final strains very bad odds at surviving outside the contained environment of the lab or industrial bioreactor.</p>
		<a href="/Methods.html" class="in-text-link" id="gold" target="_blank">>> Read more about markerless genetic modification</a>
		<div class="gold-box" style="margin-bottom: 20px">
			<p class="gold-header" id="medium">Who informed us about bio-safety?</p>
			<div class="icon-holder">
				<div class="icon-single-holder" id="small">
					<img src="images/hpsilver/generalpublic.png" style="width: 50%">
					<p class="summary-text" id="box">General public</p>
				</div>
				<div class="icon-single-holder" id="small">
					<img src="images/hpsilver/regulatory_bodies.png" style="width: 50%">
					<p class="summary-text" id="box">RIVM</p>
				</div>
			</div>
			<p class="summary-text" id="boxunder">Take a look at the <a href="/HP/Silver.html" class="in-text-link">Human Practice Silver page</a> to read what they had to say!</p>
		</div>
	</div>
</div>







