---
title: Home
---
<div clas="video-container">
	<video controls width="85%" height="auto" poster="http://2017.igem.org/wiki/images/8/8f/Intro_poster.png">
		<source src="images/movies/intro.mp4" type="video/mp4">
	</video>
</div>
<div class="section-button-container">
	<% data.navigation.links.each do |section| %>
		<% link_to section.url, :class => "section-button", :id => section.title do %>
			<%= image_tag section.logo %>
			<p><%=section.title%></p>
		<%end%>
	<%end%>
</div>
<div class="home-project-container-outer">
	<div class="home-project-container">
		<div class="line-connector-container">
			<div id="first" class="line-connector"></div>
		</div>
		<div class="line-connector-container">
			<img src="images/pm_logo.png" id="second" class="line-connector">
		</div>
		<div class="line-connector-container">
			<div id="third" class="line-connector"></div>
		</div>
		<div class="line-connector-container">
			<div id="fourth" class="line-connector"></div>
		</div>
		<div class="home-content-container">
			<div id="first" class="home-intro-container">
				<img src="images/sections/practices.png">
				<p>We are running out of oil and the climate is changing drastically due to the emission of polluting gases such as CO2.</p>
			</div>
		</div>
		<div class="home-content-container">
			<div id="fifth" class="line-connector"></div>
			<div id="second" class="home-intro-container">
				<img src="images/recycle.png">
				<p>But what if CO2 were a resource, rather than a wasteful pollutant; and might even replace oil?</p>
			</div>
		</div>
		<div class="line-connector-container">
			<div id="sixth" class="line-connector"></div>
		</div>
		<div class="home-content-container">
			<div id="first" class="home-intro-container">
				<img src="images/plants.png">
				<p>Traditionally people have tried to achieve this by producing fuels and sugars with plants, and by fermenting these sugars with bacteria to produce other chemicals.</p>
			</div>
		</div>
		<div class="home-content-container">
			<div id="fifth" class="line-connector"></div>
			<div id="second" class="home-intro-container">
				<img src="images/sections/project.png">
				<p>But there is a better way, where no arable land is needed and which is faster and more efficient. This is the way our team has chosen to go, using cyanobacteria to take up CO2 and directly convert it into the valuable chemical <span style="color: rgba(88, 190, 190, 1)">FUMARATE</span></p>
			</div>
		</div>
		<div class="line-connector-container">
			<div id="sixth" class="line-connector"></div>
		</div>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>PROJECT</p>
		</div>
	</div>
</div>
<div class ="info-oval-container">
	<div class="line-connector-container">
		<div id="seventh" class="line-connector"></div>
	</div>
	<div class="info-oval">
		<div class="left-semi-circle"></div>
		<p><b>Did you know that....</b><br>Fumarate is used to make certain plastics, food additives, and medicine and is currently made from petroleum.</p>
		<div class="right-semi-circle"></div>
	</div>
	<div class="line-connector-container"></div>
</div>
<div class="home-gif-container">
	<img src="images/logo_gif.gif">
</div>





<!-- <div class="home-spacer">
	<img src='images/design_thingy_1.png'>
</div>
<div class="summary-container">
	<div class="summary-col-left">
		
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">We are running out of oil and the climate is changing drastically due to the emission of polluting gases such as CO<sub>2</sub>. But what if CO<sub>2</sub> were a resource, rather than a wasteful pollutant; and might even replace oil? We aspire to create a bio-based economy – one that meets its energy and production demands by leveraging biotechnology [1]. We can genetically engineer bacteria to produce a compound we need. This is what we call a bacterial ‘cell factory’. 
			Meet <a class="in-text-link" href="#" style="font-size: 24px">CYANOFACTORY</a>, a cyanobacterium that stably and efficiently produces fumarate.</p>
	</div>
	<div class="summary-col-right">
		<div class="vertical-text-container">
			<p class='vertical-text'>OUR GOAL</p>
		</div>
	</div>
</div>	
<div class="home-spacer">
	<img src='images/design_thingy_1.png'>
</div>
<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/erlenmeyer_flask.png" width="200px" height="260px">
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">We use the cyanobacterium Synechocystis PCC6803, a photosynthetic model organism of which the genetic toolbox is rapidly expanding.<br><br>
		<a class="in-text-link" href="#">Click here for a live feed with our Synechocystis cultivators.</a></p>
	</div>
	<div class="summary-col-right">
		<div class="vertical-text-container">
			<p class='vertical-text'>SYNECHOCYSTIS</p>
		</div>
	</div>
</div>		
<div class="home-spacer">
	<img src='images/design_thingy_1.png'>
</div>
<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/fumarate.png" width="200px" height="202px">
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">Fumarate is a multifaceted acid that is used as a plastic precursor, an additive for the food industry and a drug against multiple sclerosis and psoriasis.<br><br>
		<a class="in-text-link" href="#">Click here to see what we did with Fumarate.</a></p>
	</div>
	<div class="summary-col-right">
		<div class="vertical-text-container">
			<p class='vertical-text'>FUMARATE</p>
		</div>
	</div>
</div>		
<div id="modules" class="summary-container">
	<div id="modules" class="home-spacer">
		<img src='images/design_thingy_1_long.png'>
	</div>
	<div class="summary-col-left">
		
	</div>
	<div class="summary-col-mid">
		<div id='sensor' class="summary-modules-outer">
			<img class="animated-module-icon" src='images/sensor_icon.png'>
			<div class="modules-summary-text">
				<h1>Biosensor</h1>
				<p>A biosensor for fumarate is constructed in order to facilitate a high throughput screening of extracellular fumarate. This is essential for low measurement time and costs.
				<br><a class="in-text-link" href="#">>>read more</a></p>
			</div>
		</div>
		<div id="transporter" class="summary-modules-outer">
			<img class="animated-module-icon" src='images/transporter_icon.png'>
			<div class="modules-summary-text">
				<h1>Transporter</h1>
				<p>In anticipation of high fumarate production, transport of fumarate out of the cell can be a limiting factor. This mechanism is largely unknown in Synechocystis and will therefore be -guided by bioinformatics- characterized by means of knock-out and over- expression experiments.
				<br><a class="in-text-link" href="#">>>read more</a></p>
			</div>
		</div>
		<div id="shunt" class="summary-modules-outer">
			<img class="animated-module-icon" src='images/shunt_icon.png'>
			<div class="modules-summary-text">
				<h1>Glyoxylate Shunt</h1>
				<p>We will incorporate two enzymes (the glyoxylate shunt) in the Synechocystis genome, creating a shortcut in the TCA-cycle. Our modeling results show that if this shunt is only expressed at night, and the pentose phosphate pathway is blocked by knocking out the zwf gene, more fumarate will be produced. This means we will create a unique combination of growth- coupled and inducible production. 
				<br><a class="in-text-link" href="#">>>read more</a></p>
			</div>
		</div>
		<div id="stability" class="summary-modules-outer">
			<img class="animated-module-icon" src='images/stability_icon.png'>
			<div class="modules-summary-text">
				<h1>Stability</h1>
				<p>When an organism is genetically modified to create a product, it causes a decrease in growth rate. This means that a mutated - non- producing - organism will grow faster and take over the population. This problem is tackled by coupling fumarate production to growth. Given that evolution selects heavily on growth rate, we now have a way of naturally selecting for production rate [4]! Knocking out the fumarate degrading reaction in the TCA cycle causes fumarate to be produced in a growth coupled way.
				<br><a class="in-text-link" href="#>">>>read more</a></p>
			</div>
		</div>
	</div>
	<div class="summary-col-right">
		<div class="vertical-text-container">
			<p class='vertical-text'>MODULES</p>
		</div>
	</div>
</div>



 -->