---
title: InterLab
---

<div class="home-spacer">
	<img src='images/design_thingy_1.png'>
</div>

<div class="team-sum-container">
	<div class="summary-col-left">
		<img src="images/IGEM_logo_white.png" width="200px" height="200px">
	</div>
	<div class="summary-col-mid">
		<div>
			<p class="inter-header">InterLab</p>
			<p class="inter-text"> 
				<p>The aim for the iGEM InterLab study was to compare the measurement tools in order to compare data more directly. To do this, the Green Fluorescent Protein (GFP) was used, because this is the most frequently used marker in synthetic biology. Every team that joined this study followed exactly the same protocol, provided by the iGEM Measurement Committee.</p>

				<p>Before the GFP measurement, the OD<sub>600</sub> reference point needed to be determined. This was done by measuring LUDOX in the plate reader and calculate the correction factor of our instrument. For the calculation of our cell based readings to the right GFP concentration a fluorescein fluorescent standard curve was made. This curve was made by reading out serial dilutions of fluorescein with PBS.</p>

				<p>Multiple vectors were transformed in <i>E. Coli</i> to insert different genes which would have different effects on the amount of GFP produced. After the transformation, two colonies of each strain were inoculated overnight. Then the samples were put in a plate and measured in the Fluorstar Optima plate reader, this was repeated every two hours for six hours.</p> 
			</p>
		</div>
	</div>
	<div class="summary-col-right">
		<div class="vertical-text-container">
			<p class='vertical-text'>SUMMARY</p>
		</div>
	</div>
</div>

<div class="home-spacer">
	<img src='images/design_thingy_1.png'>
</div>

<div class="inter-container">
	<div class="interlab-left">
		
	</div>
	<div class="interlab-mid">
		<div class="graph-description">
			<img src="images/interlab/flu_test.png" class="interlab-graph">
			<p class="interlab-graph-description"><b>Figure 1. Raw fluorescence plate reading measurements.</b> The intensity of the GFP for the different conditions were measured over time and every one of them was measured at the same moment with the same settings.
			</p>
		</div>
		<div class="graph-description">
			<img src="images/interlab/abs_test.png" class="interlab-graph">
			<p class="interlab-graph-description"><b>Figure 2. Raw ABS<sub>600</sub> plate reading measurements.</b> This shows the measurements of the optical density at 600nm over a period of time. All the conditions were measured at the same moments and with the same settings. 
			</p>
		</div>
	</div>
	<div class="summary-col-right">
		<div class="vertical-text-container">
			<p class="vertical-text">RESULTS</p>
		</div>
	</div>
</div>
<div class="home-spacer">
	<img src='images/design_thingy_1.png'>
</div>


