---
title: Lab
---

<div class="main-pages-container" id="dark">
	<div class="main-pages-con-left">
		<img src="images/biobrick1.png" class="main-pages-icon" id="parts">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Parts</p>
			<p class="summary-text">A huge aspect of science is not informing other scientist, but informing the public about the beauty, possibilities and risks. Due to this, we were driven to tell our story to others. The conversations we had with people outside of the scientific world were very interesting, which led to a desire to inform the public as much as possible. We did a prety good job, because we told to over a milion people! <a href="/Parts.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container">
	<div class="main-pages-con-left">
		<img src="images/IGEM_logo_white.png" class="main-pages-icon" id="interlab">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">InterLab Study</p>
			<p class="summary-text">The aim of the 2017 iGEM InterLab study was to test the reproducibility of fluorescence measurements across different labs. Green Fluorescent Protein (GFP) was chosen for this comparative study because it is the most frequently used  fluorescent reporter in synthetic biology. Every team that joined this InterLab study was provided by the iGEM Measurement Committee exactly the same protocol to follow. <a href="/InterLab.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container" id="dark">
	<div class="main-pages-con-left">
		<img src="images/attributions.png" class="main-pages-icon" id="labjournal">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Lab Journal</p>
			<p class="summary-text">Good science comes with good documentation - or as our PI says - <i>“one of the few mistakes that you can do in the lab is to not write down what you did”</i>. We made a record based on our weekly meetings, which is made available on this page. Information is grouped chronologically per module, reflecting how the project was approached and documented. <a href="/LabJournal.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container">
	<div class="main-pages-con-left">
		<img src="images/protocols.png" class="main-pages-icon" id="protocol">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Protocol</p>
			<p class="summary-text">For this iGEM project we used these protocols. They were provided by the supervisors of our lab, the Molecular Microbial Physiology Lab of the UvA. Everyone of our team used the same protocols, so the findings were consistent with each other. The experiments that were done with these techniques can be found on the project pages. <a href="/Protocol.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container" id="dark">
	<div class="main-pages-con-left">
		<img src="images/protocols.png" class="main-pages-icon" id="methods">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Methods</p>
			<p class="summary-text">For this iGEM project we used these protocols. They were provided by the supervisors of our lab, the Molecular Microbial Physiology Lab of the UvA. Everyone of our team used the same protocols, so the findings were consistent with each other. The experiments that were done with these techniques can be found on the project pages. <a href="/Methods.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>


