---
title: Lab
---

<div class="main-pages-container" id="dark">
	<div class="main-pages-con-left">
		<img src="images/biobrick1.png" class="main-pages-icon" id="parts">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Parts</p>
			<p class="summary-text">Each year, every team competing in the iGEM competition contributes to the iGEM Parts Registry. This growing collection of genetic parts can be mixed and matched to build synthetic biology devices and systems. During our project, we worked with tens of constructs and chose the two most interesting (and promising) genes to turn into BioBricks. We have designed two versatile Basic Parts that have the potential to be used beyond the scope of our project.<br><a href="/Parts.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container">
	<div class="main-pages-con-left">
		<img src="images/IGEM_logo_white.png" class="main-pages-icon" id="interlab">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">InterLab Study</p>
			<p class="summary-text">The aim of the 2017 iGEM InterLab study was to test the reproducibility of fluorescence measurements across different labs. Green Fluorescent Protein (GFP) was chosen for this comparative study because it is the most frequently used  fluorescent reporter in synthetic biology. Every team that joined this InterLab study was provided by the iGEM Measurement Committee exactly the same protocol to follow.<br><a href="/InterLab.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container" id="dark">
	<div class="main-pages-con-left">
		<img src="images/attributions.png" class="main-pages-icon" id="labjournal">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Lab Journal</p>
			<p class="summary-text">Good science comes with good documentation - or as our PI says - <i>“one of the few mistakes that you can do in the lab is to not write down what you did”</i>. We made a record based on our weekly meetings, which is made available on this page. Information is grouped chronologically per module, reflecting how the project was approached and documented.<br><a href="/LabJournal.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container">
	<div class="main-pages-con-left">
		<img src="images/protocols.png" class="main-pages-icon" id="protocol">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Protocols</p>
			<p class="summary-text">For this iGEM project we used these protocols. They were provided by the supervisors of our lab, the Molecular Microbial Physiology Lab of the UvA. Everyone of our team used the same protocols, so the findings were consistent with each other. The experiments that were done with these techniques can be found on the project pages.<br><a href="/Protocol.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>
<div class="main-pages-container" id="dark">
	<div class="main-pages-con-left">
		<img src="images/protocols.png" class="main-pages-icon" id="methods">
	</div>
	<div class="main-pages-con-mid">
			<p class="summary-text" id="prac-header">Methods</p>
			<p class="summary-text">Some methods are at the basis of our project and deserve some extra attention. Here, we will explain to you how you can make genetic modifications without introducing an antibiotics resistance cassette. We elaborate on our Multi-Cultivators, which we used to study the growth characteristics and phenotype of newly designed strains. Finally, we introduce you to our BioBrick TA-cloning system that was used throughout the entire project. <a href="/Methods.html" class="in-text-link" id="main-pages">>> Read more</a></p>
	</div>
</div>


