---
title: Lab Journal
---
<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>
<div class="labj-container-black">
	<div class="labj-sum-left">
		<img src="images/plants.png" class="proto-icon">
	</div>
	<div class="labj-sum-mid">
		<div class="labj-sum-text-container">Good science comes with good documentation. We decided to archive our progression every week on record in order to keep the overview. Down below every week is shown in modules, which is the manner we documented it and approached the project.</div>
		<div class="labj-sum-mod-container">
			<div class="labj-sum-icon-container">
				<img src="images/stability_icon.png" class="labj-sum-icon">
				<p class="labj-icon-text">Genetic Stability</p>
			</div>
			<div class="labj-sum-icon-container">
				<img src="images/shunt_icon.png" class="labj-sum-icon">
				<p class="labj-icon-text">Stable Production</p>
			</div>
			<div class="labj-sum-icon-container">
				<img src="images/transporter_icon.png" class="labj-sum-icon">
				<p class="labj-icon-text">Export</p>
			</div>
			<div class="labj-sum-icon-container">
				<img src="images/sensor_icon.png" class="labj-sum-icon">
				<p class="labj-icon-text">Biosensor</p>
			</div>
			<div class="labj-sum-icon-container">
				<img src="images/cellfactory.png" class="labj-sum-icon">
				<p class="labj-icon-text">General Topics</p>
			</div>
		</div>		
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>Lab Journal</p>
		</div>
	</div>
</div>

<div class="labj-container-gray">
	<div class="labj-left-col">
		
	</div>
	<div class="labj-mid-col">
		<div class="week-container" id="14"> 
			<div  class="week-text-container" id="week14" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 14</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week14arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week14module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Robustness analysis. Take optimal flux of the shunt and start decreasing it, so now your mu is going to drop. reduced cost analysis. Conflicting goals of iGEM and Joeri’s project. For iGEM it is necessary to do shorter experiments with more replicates. Evolution is not interesting for iGEM. Fluctuations part might be important for iGEM. First constant light, then smooth di...regime. An easy way to increase fumarate production. Start with omics data, because this feeds into the other modules. </div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">ML vs ICL and ML: test if it is thermodynamically possible to make this reversible. You have clear comparison if it reversible. This should be done in the targeted module. The synthetic biology part in E. coli is similar for both projects, so we need to team up: MS by Bram and ICL &#38; MS by Yuki. We have to consider different types of  MS (E. coli, codon optimized from E. coli). The physiology part in Synechocystis is totally different for both modules. Bram uses known promoters, Yuki uses promoter library. The analyzation of the timing of the shunt should be done by Bram with the known promoters. Additional experiment: Get whole library (this is a mix), apply regime, grow until OD. The ones that are still in there perform best. </div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">You cannot put kinetics into genome model. You can make tables with affinity (Km and Kcat) and make your choice based on this. Take the maximal predictive flux and see whether this is compatible with the affinity of the transporter. You have to make a rational choice.</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Linker length is really important. On paper it is quite easy, but in the lab it might be hard. If all else fails, and this works we could present this alone and it will still be good. Calculate CO2 → fumarate efficiency (E. coli vs Synechocystis). From biosensor track to transporter track. Maybe ask a econometrist to do this part. Add a sensitivity analysis.</div>
				</div>
				<div class="labj-mod-holder" id="addition">
					<div class="labj-mod-icon">
						<img src="images/cellfactory.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"><b>Title and project description.</b> We have to think of a title. We have to be careful for the political correctness of the presentation and title. We have to think about the standards of the other countries. Examples: “Making fumarate around the clock.”  “Sustainability day and night. “ <b>Biosafety</b> Strains all always outperformed by wildtype. They cannot take over the wildtype, so it is contained. Even if there is contamination, you do not put marked genes in, because our genes are markerless.</div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="15"> 
			<div  class="week-text-container" id="week15" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 15</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week15arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week15module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Max made a model using FAME software.</li>
							Next:
							<li>find optimal growth rate and fumarate production for MS flux.</li>
							<li>look into growing on glycogen instead of glucose.</li>
						</ul>
					</div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>We use biobricks to fuse the two genes together</li>
							<li>Orientation of TA cloning: by Colony PCR primer design. </li>
						</ul>
					</div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Design plan for the lab with Wei.</li>
							<li>Found one potential C4-dicarboxylate transporter in Synechocystis</li>
							<li>Set up pipeline</li>
							<li>Discussed multiple transporter families in bacteria.</li>
						</ul>
						<img src="images/labjournal/week15t.gif">
					</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>We found that previous systems did not use linkers, so we will also not do this. We will amplify dcuS from the E. coli genome with different lengths, however, both TM domains will always come from dcuS and the kinase will always entirely be envZ.</li>
							<li>Do parallel experiment: …..</li>
							<li>Age is designing primers now. Wei proposed to take different lengths how many different lengths to take from dcuS and how to decide different cutoffs (how much difference should there be)?</li>
							<li>How can you choose the direction of your gene on the T-vector?</li>
							<li>In Wei’s protocol it says ecoRI is in all T-vectors, but snapgene does not identify them as unique restriction sites (they are there but are not unique, does this matter?)</li>
							Two research questions:
							<li>How is fumarate transported in Synechocystis?</li>
							<li>How can we increase fumarate transportation?</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="16"> 
			<div  class="week-text-container" id="week16" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 16</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week16arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week16module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Experiment to test the software, starting Friday over the weekend.</li>
							<li>Write up on the graphs from last time, it is on the drive: location.</li>
						</ul>
					</div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<b>Targeted approach:</b>
							<li>Bram and Yuki made solutions in the lab with Wenyang.</li>
							<li>Bram failed his first experiment.</li>
							<li>Bram and Yuki designed primers for the zwf knockout. We both have a file on the drive. The primers from the file from Yuki are already ordered by Dennis and will be used for the markerless fusion-pcr: slr1843-zwf_Yuki .</li>
						</ul>
						<ul>
							<b>Untargeted approach:</b>
							<li>Made a plan for the untargeted incorporation of the glyoxylate shunt: plan_yuki (if you download it you can zoom in to look at the details)</li>
							<li>Made an account on Benchlink, to access all the files</li>
							<li>The first step will be the transformation of mazF-Sp into ∆fumC as the receptor species.</li>
							<li>Isocitrate lyase (ICL) and malate synthase (MS) need to be fused, with two different rbs in front of the ICL and MS. Patricia only uses cpc, so we need to find another rbs sequence from literature (Englund et al., 2016).</li>
							<li>We need controls to make sure both rbsses are working</li>
							<li>Then ICL-MS needs to be incorporated into a t-vector. Therefore, the restriction sites in ICL-MS need to be checked. Then, we can design primers to fuse ICL and MS and incorporate in into the t-vector.</li>
						</ul>
						<ul>
							<b>So the next steps for the untargeted approach will be:</b>
							<li>Making solutions (LB and BG-11), plates, antibiotic stock etc. - together with others?</li>
							<li>Deciding what rbs to use from literature</li>
							<li>Check restriction sites in ICL-MS and possibilities for the t-vector.</li>
							<li>Design primers for fusion PCR of ICL-MS.</li>
						</ul>
					</div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						New pipeline:<br>
						<img src="images/labjournal/week16t.png"><br>
						New appointment with Anton
					</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Designed primers for the biosensor, there has been a slight change in plan -> the Acc65I restriction site on dcuS has to be mutated first</li>
							<li>Made a multiple sequence alignment of dcuS, envZ and cph1, looks well aligned (TMs, HAMPs and HK’s align), might be interesting to look at this with someone with more expertise.</li>
							<li>Discussed possibilities for an intracellular sensor with Klaas (FRET) -> he will ask a connection about a possible fumarate binding protein for this system</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="17"> 
			<div  class="week-text-container" id="week17" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 17</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week17arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week17module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Exam Week</div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Exam Week</div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Exam Week</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="18"> 
			<div  class="week-text-container" id="week18" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 18</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week18arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week18module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Started pilot experiment on Monday: 7 of 8 vessels are doing well, the 8th not so much</li>
							<li>The 7 are currently in photonfluxostat mode but I will switch them over to the sinusoidal regime later today</li>
							<li>I keep getting contamination when I plate samples on LB plates. However, I don’t think this is due to the vessels being contaminated but rather it has to do with my sampling/plating technique because 1) the contaminant colonies are usually not where I pipetted samples and 2) contaminates have “disappeared” from vessels after multiple platings</li>
							<li>Worked out how much 15N we will need: (less than a gram). I think it was ordered yesterday</li>
							<li>The dFBA model</li>
						</ul>
						<img src="images/labjournal/week18st.png">
					</div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<b>Targeted approach</b>
							<li>Learning techniques in the lab. Communication with WenYang goes well.</li>
							<li>PCR - amplified H1 and H2 of zwf region. Fused H1 and H2.</li>
							<b>Untargeted approach</b>
							<li>Made solutions (LB, BG-11) and selection plates.</li>
							<li>Revived the Synechocystis ∆fumC and wildtype strain. They are on BG-11 plates and ready for transformation.</li>
							<li>Revived the E. coli pFLNX H1H2 MazF Ω 1.1 #5.</li>
							<li>Isolated the MazF plasmid and stored it for transformation into ∆fumC.</li>
							<li>Transformed the plasmids that we received from other labs, including the pAQ MS-ICL with the glyoxylate shunt enzymes isocytrate lyase (ICL) and malate synthase (MS). Inoculated in and this afternoon we will perform miniprep to isolate the plasmids.</li>
							<li>Working on a new approach to make the plasmid below:</li>
						</ul>
						<img src="images/labjournal/week18gl.png">
					</div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						Selected genes and project overview on drive. <br> 
						<img src="images/labjournal/week18tr.png"> <br>
						Josine needs conclusions on which ones to use and which ones not to use. 
						Make a meeting where you present what you found so far and which transporters specifically you want to express in which strains. Critically go through what you found. Josine has to convince us.<br>
						You are planning to overexpress this is in Synechocystis as a final product. First, knock this promoter out to see if it has an effect on fumarate transportation. See what the impact is.<br> 
					</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Made the overview, working in the lab</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="19"> 
			<div  class="week-text-container" id="week19" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 19</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week19arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week19module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Met with Henk the other day to talk about proteomics prep procedures, 15N is on its way. Monday they will have meeting with Henk.</li>
							<li>Joeri and I have a meeting with Martijs Jonker and Rob Dekker to discuss transcriptomics on Monday at 15.30. Filipe wants to be there.</li>
						</ul>
					</div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<b>Targeted approach:</b>
							<li>Constructing the zwf knockout plasmid</li>
							<li>Develop plan to make the 36 constructs as parallel as possible</li>
							<b>Untargeted approach:</b>
							<li>Transformed the selection cassette MazF-Spec into the fumC-knockout.</li>
							<li>New approach to get the glyoxylate shunt enzymes into the H1 H2 plasmid.</li>
							<li>Check if the unannotated region contains a promoter or not</li>
							<li>BLAST search</li>
							<li>Promoter prediction</li>
						</ul>
						<img src="images/labjournal/week19gl.jpg">
					</div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Primers for knocking out Sll1103 and Sll1314 are designed, checked and will be ordered. (Both TRAP transport-domains)</li>
							<li>Bram will explain me the pipeline, Wei will guide me with the photoheterotrophic condition experiment, but I need supervision to start in the lab.</li>
							<li>First, Parsa will help Josine for the first 1,5 month. Then Davide will come in to help.</li>
						</ul>
					</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">
						<ul>
							<li>Hopefully mutated the dcuS gene.</li> 
							<li>pCI148.</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="20"> 
			<div  class="week-text-container" id="week20" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 20</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week20arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week20module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="21"> 
			<div  class="week-text-container" id="week21" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 21</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week21arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week21module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="22"> 
			<div  class="week-text-container" id="week22" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 22</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week22arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week22module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="23"> 
			<div  class="week-text-container" id="week23" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 23</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week23arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week23module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
	</div>
	<div class="labj-right-col">
		
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'></p>
		</div>
	</div>
</div>

<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>


<script>
	function displayFunction(clicked_id) {
	    var x = document.getElementById(clicked_id+"module");
	    if (x.style.display === "none") {
	        x.style.display = "flex";
	        document.getElementById(clicked_id+"arrow").innerHTML = "&#9650;";
	    } else {
	        x.style.display = "none";
	        document.getElementById(clicked_id+"arrow").innerHTML = "&#9660;";
	    }
	}
</script>




