---
title: Lab Journal
---
<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>

<div class="labj-container-black">
	<div class="labj-left-col">
		
	</div>
	<div class="labj-mid-col">
		<div class="week-container" id="15"> 
			<div  class="week-text-container" id="week15" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 15</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week15arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week15module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Robustness analysis. Take optimal flux of the shunt and start decreasing it, so now your mu is going to drop. reduced cost analysis. Conflicting goals of iGEM and Joeri’s project. For iGEM it is necessary to do shorter experiments with more replicates. Evolution is not interesting for iGEM. Fluctuations part might be important for iGEM. First constant light, then smooth di...regime. An easy way to increase fumarate production. Start with omics data, because this feeds into the other modules. </div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">ML vs ICL and ML: test if it is thermodynamically possible to make this reversible. You have clear comparison if it reversible. This should be done in the targeted module. The synthetic biology part in E. coli is similar for both projects, so we need to team up: MS by Bram and ICL &#38; MS by Yuki. We have to consider different types of  MS (E. coli, codon optimized from E. coli). The physiology part in Synechocystis is totally different for both modules. Bram uses known promoters, Yuki uses promoter library. The analyzation of the timing of the shunt should be done by Bram with the known promoters. Additional experiment: Get whole library (this is a mix), apply regime, grow until OD. The ones that are still in there perform best. </div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">You cannot put kinetics into genome model. You can make tables with affinity (Km and Kcat) and make your choice based on this. Take the maximal predictive flux and see whether this is compatible with the affinity of the transporter. You have to make a rational choice.</div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont">Linker length is really important. On paper it is quite easy, but in the lab it might be hard. If all else fails, and this works we could present this alone and it will still be good. Calculate CO2 → fumarate efficiency (E. coli vs Synechocystis). From biosensor track to transporter track. Maybe ask a econometrist to do this part. Add a sensitivity analysis.</div>
				</div>
				<div class="labj-mod-holder" id="addition">
					<div class="labj-mod-icon">
						<img src="images/cellfactory.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"><b>Title and project description.</b> We have to think of a title. We have to be careful for the political correctness of the presentation and title. We have to think about the standards of the other countries. Examples: “Making fumarate around the clock.”  “Sustainability day and night. “ <b>Biosafety</b> Strains all always outperformed by wildtype. They cannot take over the wildtype, so it is contained. Even if there is contamination, you do not put marked genes in, because our genes are markerless.</div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="16"> 
			<div  class="week-text-container" id="week16" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 16</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week16arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week16module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="17"> 
			<div  class="week-text-container" id="week17" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 17</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week17arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week17module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="18"> 
			<div  class="week-text-container" id="week18" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 18</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week18arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week18module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="19"> 
			<div  class="week-text-container" id="week19" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 19</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week19arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week19module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="20"> 
			<div  class="week-text-container" id="week20" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 20</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week20arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week20module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="21"> 
			<div  class="week-text-container" id="week21" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 21</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week21arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week21module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="22"> 
			<div  class="week-text-container" id="week22" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 22</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week22arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week22module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
		<div class="week-container" id="23"> 
			<div  class="week-text-container" id="week23" onclick="displayFunction(this.id)">
				<div class="week-number-container">
					<p class="week-text">Week 23</p>
				</div>
				<div class="arrow-container">
					<p class="arrow-text" id="week23arrow">&#9660;</p>
				</div>
			</div>
			<div class="labj-main-con" id="week23module" style="display:none;">
				<div class="labj-mod-holder" id="stability">
					<div class="labj-mod-icon">
						<img src="images/stability_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="shunt">
					<div class="labj-mod-icon">
						<img src="images/shunt_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="transporter">
					<div class="labj-mod-icon">
						<img src="images/transporter_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
				<div class="labj-mod-holder" id="sensor">
					<div class="labj-mod-icon">
						<img src="images/sensor_icon.png" class="labj-icon">
					</div>
					<div class="labj-mod-cont"></div>
				</div>
			</div> 
		</div>
	</div>
	<div class="labj-right-col">
		
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>Lab Journal</p>
		</div>
	</div>
</div>

<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>


<script>
	function displayFunction(clicked_id) {
	    var x = document.getElementById(clicked_id+"module");
	    if (x.style.display === "none") {
	        x.style.display = "flex";
	        document.getElementById(clicked_id+"arrow").innerHTML = "&#9650;";
	    } else {
	        x.style.display = "none";
	        document.getElementById(clicked_id+"arrow").innerHTML = "&#9660;";
	    }
	}
</script>




