---
title: Model
---
<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/model_icon.png">
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">Our team consists of six students from the Universiteit van Amsterdam and the Vrije Universiteit. Five of those are in the Bioinformatics and System Biology master and the other is in the Neuroscience bachelor. We got help from Mohammad, a syrian refugee, who helped us with building the wiki. For seven months we worked on our research at the Amsterdam Science Park, where dr. Filipe Branco dos Santos, Wei Du and Joeri Jongbloets were our supervisors. To see what everybody did for the iGEM competition, take a look at our <a class="in-text-link" href="/Attributions.html">attribution page</a>!</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>Model</p>
		</div>
	</div>
</div>
	