---
title: Project
---

<div class="project-cellfactory-container-outer">
	<div class="project-cellfactory-container">
		<img src="images/cellfactory.png">
	</div>
	<div id="project" class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>The Project</p>
		</div>
	</div>
</div>