---
title: Project
---

<div class="project-cellfactory-container">
	<img src="images/cellfactory_wiki.png">
	<p>PHOTOSYNTHETIC CELL-FACTORY</p>
	<p>Produce, export, and detect fumarate</p>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>The Project</p>
		</div>
	</div>
</div>
<div class="logo-spacer">
	<img src="images/logo_line1.png">
</div>
<div id="intro" class="project-text-container">
	<h1>Introduction</h1>
	<p>Irrespective of where you come from, we all share the global responsibility of ensuring that our societies are sustainable. We have been depleting the world’s resources and filling the atmosphere with abnormal levels of CO<sub>2</sub> for too long. But CO<sub>2</sub> can also be used as a resource - plants and certain bacteria have been doing so for billions of years. This is the foundation for the bio-based economy, reducing and eventually replacing the use of oil. Up to now, the focus in bio-based production has been on producing biofuels using plants to produce sugars which are then used as substrate in bacterial fermentation processes. But there is a better way - using cyanobacteria to take up CO<sub>2</sub> from the atmosphere and directly converting it into useful products. Cyanobacteria do not compete for arable land, as plants do, and by taking up CO<sub>2</sub> and directly converting it into product you eliminate the sugar producing step that is necessary for fermentation. What is more, based on data reported [1] by others, we <a href="/Carbon.html" class="in-text-link" target="_blank">calculate</a> that plants have a production rate of 0.065 mmolcarbon gDW<sup>-1</sup> hr<sup>-1</sup>, which is well below what has already been reported for the cyanobacterium <i>Synechocystis</i> sp. PCC6803 when engineered to produce a variety of chemicals [2].</p>
</div>
<div id="project" class ="info-oval-container">
	<div class="info-oval">
		<div class="left-semi-circle"></div>
		<p><b>Fumarate</b> is used to make certain plastics, food additives, and medicine and is currently made from petroleum. The global market size of fumarate is <a href="https://www.radiantinsights.com/press-release/global-fumaric-acid-market" class="in-text-link" target="_blank">estimated</a> to be $760 million by 2020!</p>
		<div class="right-semi-circle"></div>
	</div>
</div>
<div class="project-text-container">
	<h1>Goals</h1>
	<p class="project-header"><u>Scientific</u></p>
	<p>We aim to create stable and robust photosynthetic cell factories for the commodity chemical fumarate, using <i>Synechocystis</i>. More specifically, we want our photosynthetic cell factories to (i) produce fumarate directly from CO<sub>2</sub>; (ii) make it readily accessible for downstream processing; and (iii) when fumarate has been produced and exported, we want to be able to detect it <i>in loco</i>. Moreover, we want to <a href="/Produce.html" class="in-text-link" target="_blank">stably produce</a>, <a href="/Export.html" class="in-text-link" target="_blank">export</a> and <a href="/Detect.html" class="in-text-link" target="_blank">detect</a> fumarate under conditions mimicking <a href="/Produce.html" class="in-text-link" target="_blank">industrial settings</a>. These efforts should be guided by metabolic <a href="/Model.html" class="in-text-link" target="_blank">modelling</a> and tailored to address <a href="/HP/Silver.html" class="in-text-link" target="_blank">public concerns</a> and <a href="/Safety.html" class="in-text-link" target="_blank">regulatory demands</a>.</p>
	<p class="project-header"><u>Engagement</u></p>
	<p>We aim to shape our <a href="/Engagement.html" class="in-text-link" target="_blank">engagement activities</a> to have the greatest impact in the short-term given the urgency of the challenge we tackle - <b>sustainability</b>. To achieve this we want to reach as many people as possible within the timeframe of the iGEM competition. Our target groups are (i) young adults and (ii) voters and decision makers. We use ~10<sup>6</sup> cells to inoculate a culture in the lab - we want to seed our ideas in 10<sup>6</sup> humans as well!</p>
	<p class="project-header"><u>iGEM Community</u></p>
	<p>We aim to be an active part of the iGEM community by setting up <a href="/Collaborations.html" class="in-text-link" target="_blank">collaborations</a>, taking part in iGEM-wide <a href="/InterLab.html" class="in-text-link" target="_blank">studies</a> and <a href="/Collaborations.html#survey" class="in-text-link" target="_blank">surveys</a> and attending iGEM <a href="/Collaborations.html#meetup" class="in-text-link" target="_blank">meet-ups</a>.</p>
</div>
<div class="project-text-container">
	<h1>Approach</h1>
	<p>‘To reach our scientific goals we approached <a href="/HP/Silver.html#cademia" class="in-text-link" target="_blank">experts</a> in the field to learn about the state of the art and main challenges. We also sought input from <a href="/HP/Silver.html#industry" class="in-text-link" target="_blank">stakeholders in industry</a>, as this is where our product will be used. Furthermore, since the success of a new technology depends on its acceptance amongst the <a href="/HP/Silver.html#generalpublic" class="in-text-link" target="_blank">general public</a>, we investigated public perception regarding concerns about synthetic biology. To make sure our efforts are readily implementable we discussed current regulation and future policy plans with <a href="/HP/Silver.html#policymakers" class="in-text-link" target="_blank">regulatory bodies</a>. We organized the scientific work into three independent, yet complementary, modules:</p>
</div>

<div class="modules-summary-container-outer">
	<div class="logo-spacer">
		<img src="images/logo_line1.png">
		<div class="vertical-text-container-outer">
			<div class="vertical-text-container">
				<p class='vertical-text'>MODULES</p>
			</div>
		</div>
	</div>
	<div id="production" class="summary-modules-outer">
		<img class="animated-module-icon" src='images/shunt_icon.png'>
		<div class="modules-summary-text">
			<h1>Produce</h1>
			<p>A major requisite of cyano-cell factories, according to expert's opinion, is that they  must be able to produce in a stable fashion under industrial conditions. A recent quantitative analysis of the various ways to convert the energy of photons to chemical bonds has revealed that the direct utilization of sunlight is the most efficient. This however means that cells will be exposed to diurnal regimes in which they will inevitably be exposed to periods of darkness.<br><a class="in-text-link" href="/Produce.html">>>read more</a></p>
		</div>
	</div>
	<div id="transporter" class="summary-modules-outer">
		<img class="animated-module-icon" src='images/transporter_icon.png'>
		<div class="modules-summary-text">
			<h1>Export</h1>
			<p>Our newly engineered cyanobacterial factories are capable of producing fumarate directly from CO<sub>2</sub> using the energy of (sun)light. However, <a href="/HP/Silver.html#cademia" class="in-text-link" target="_blank">expert</a> in the fields pointed out to us that it is only the fumarate that is excreted from the cells that is readily available in a downstream process of a “real-world” scenario.<br><a class="in-text-link" href="/Export.html">>>read more</a></p>
		</div>
	</div>
	<div id='sensor' class="summary-modules-outer">
		<img class="animated-module-icon" src='images/sensor_icon.png'>
		<div class="modules-summary-text">
			<h1>Detect</h1>
			<p>From conversations with <a href="/HP/Silver.html#industry" class="in-text-link" target="_blank">Photanol</a> we know that, in our quest to engineer fumarate-producing cyanobacterial factories, we need a way to quickly and easily determine if a given genetically engineered construct is actually producing fumarate.
			<br><a class="in-text-link" href="/Detect.html">>>read more</a></p>
		</div>
	</div>
</div>
<div class="project-text-container" id="dark">
	<p>To reach young adults we started a <a href="https://www.facebook.com/igem2017amsterdam" class="in-text-link" target="_blank">facebook page</a> to which we actively added content. The content was created with the audience in mind, with two <a href="/Engagement.html#movies" class="in-text-link" target="_blank">movies</a> and a series of <a href="/Engagement.html#podcast" class="in-text-link" target="_blank">podcasts</a> as highlights of multimedia products. We actively picked up on opportunities to speak directly to young people which resulted in various  <a href="Engagement.html#education" class="in-text-link" target="_blank">educational activities</a>. We broadened our reach further by publishing articles on 7 <a href="Engagement.html#webarticle" class="in-text-link" target="_blank">online platforms</a>, in 3 <a href="Engagement.html#bookarticle" class="in-text-link" target="_blank">printed magazines and newspapers</a> and talking on 2 <a href="Engagement.html#radio" class="in-text-link" target="_blank">radio broadcasts</a>. To achieve face-to-face contact with voters and decisions makers we visited several relevant <a href="Engagement.html#events" class="in-text-link" target="_blank">events.</a></p>
	<p>To actively be part of the fabric that makes the iGEM community so strong and united, we participated in the <a href="/InterLab.html" class="in-text-link" target="_blank">Interlab Study</a> and filled out 13 <a href="/Collaborations.html#survey" class="in-text-link" target="_blank">surveys</a> created by our colleague iGEMmers from other teams. We further conducted a lot of informal collaboration with other iGEM teams, worked out one of these collaborations <a href="/Collaborations.html#nebraska" class="in-text-link" target="_blank">extensively</a>, and enthusiastically attended many <a href="/Collaborations.html#meetup" class="in-text-link" target="_blank">meet-ups</a>. We also ensured to fulfill all <a href="/Achievements.html" class="in-text-link" target="_blank">medal requirements</a>.</p>
</div>
<div class="project-text-container" id="dark">
	<h1>Main achievements</h1>
	<p class="project-header">Science</p>
	<ul class="project-list">
		<li>Project design tailored to present <a href="/HP/Silver.html#industry" class="in-text-link" target="_blank">industrial</a> needs, <a href="/HP/Silver.html#generalpublic" class="in-text-link" target="_blank">public concerns</a> and  <a href="/HP/Silver.html#policymakers" class="in-text-link" target="_blank">policy</a> plans</li>
		<li> <a href="/Model.html" class="in-text-link" target="_blank">Model</a> guided <a href="/Produce.html" class="in-text-link" target="_blank">metabolic engineering</a> and project design</li>
		<li>First synthetic photoautotrophic organism that is capable of <a href="/Produce.html" class="in-text-link" target="_blank">converting CO<sub>2</sub> directly to fumarate during day and night</a></li>
		<li>First fully segregated <a href="/Produce.html" class="in-text-link" target="_blank">promoter library</a> in a polyploid organism such as many cyanobacteria</li>
		<li>Identification of a native <i>Synechocystis</i> fumarate <a href="/Export.html" class="in-text-link" target="_blank">transporter</a></li>
		<li>A family of fumarate <a href="/Detect.html" class="in-text-link" target="_blank">biosensors</a> capable of quantifying its concentration from 1 up to 20 mM with different dynamic ranges.</li>
	</ul>
	<p class="project-header">Engagement</p>
	<ul class="project-list">
		<li>Through <a href="/Engagement.html" class="in-text-link" target="_blank">22 channels</a> we reached up to three million people (3-fold higher than the number of cells we use to inoculate a culture!)</li>
		<li>The reached audience matches our target groups. This maximizes the immediate impact of the project, which is essential given its urgency as one of the major global challenges:</li>
			<ul>
				<li>Young adults were reached through <a href="https://www.facebook.com/igem2017amsterdam" class="in-text-link" target="_blank">social media</a>, our <a href="/Engagement.html#movies" class="in-text-link" target="_blank">movies</a> and <a href="/Engagement.html#podcast" class="in-text-link" target="_blank">podcasts</a>, and through helping with <a href="Engagement.html#education" class="in-text-link" target="_blank">high school theses and presenting for university students</a></li>
				<li>General public (voters!) and decision makers were reached by promoting the project in <a href="Engagement.html#events" class="in-text-link" target="_blank">events</a>, <a href="Engagement.html#webarticle" class="in-text-link" target="_blank">online publications</a>, <a href="Engagement.html#radio" class="in-text-link" target="_blank">radio broadcasts</a> and <a href="Engagement.html#bookarticle" class="in-text-link" target="_blank">printed media</a></li>
			</ul>
	</ul>
	<p class="project-header">iGEM Community</p>
	<ul class="project-list">
		<li>Set up several <a href="/Collaborations.html" class="in-text-link" target="_blank">collaborations</a></li>
		<li>Participated in the <a href="/InterLab.html" class="in-text-link" target="_blank">Interlab Study</a></li>
		<li>Filled out 13 <a href="/Collaborations.html#survey" class="in-text-link" target="_blank">surveys</a></li>
		<li>Attended 3 <a href="/Collaborations.html#meetup" class="in-text-link" target="_blank">international meet-ups</a></li>
		<li>Fulfilled all <a href="/Achievements.html" class="in-text-link" target="_blank">medal requirements</a></li>
	</ul>
</div>
