---
title: Protocol
---
<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/protocols.png" class="proto-icon">	
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">For this iGEM project we used these protocols. They were provided by the supervisors of our lab, the Molecular Microbial Physiology Lab of the UvA. Everyone of our team used the same protocols, so the findings were consistent with each other. The experiments that were done with these techniques can be found on the project pages.</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>protocol</p>
		</div>
	</div> 
</div>
<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>
<div class="proto-pdf-container">
	<div class="proto-pdf-title">
		<p class="proto-header">iGEM Protocols</p>
	</div>
	<embed src="http://2017.igem.org/wiki/images/7/71/Protocols_iGEM.pdf" class="proto-pdf" type='application/pdf'>
</div>
