---
title: Sponsors
---

<div class="summary-container">
	<div class="summary-col-left">
		<img src="images/sponsors.png" class="proto-icon">	
	</div>
	<div class="summary-col-mid">
		<p class="summary-text">We are very greatfull with all our sponsors for supporting us and thereby making this project a succes. We especially want to thank both universities, the UvA and the VU, not only for the financial support, but also for their connections, help and encouragement. For the housing and lab support we are very gratefull to the Molecular Microbial Physiology lab.</p>
	</div>
	<div class="vertical-text-container-outer">
		<div class="vertical-text-container">
			<p class='vertical-text'>SPONSORS</p>
		</div>
	</div>
</div>
<div class="logo-spacer">
	<img src='images/logo_line1.png'>
</div>
<div class="sponsors-container">
	<% data.sponsors.each_with_index do |sponsor, index| %>
		<div class="sponsor-container<%=cycle(index, ' alternate', '')-%>">
			<div class="sponsor-image-container">
				<% link_to sponsor.url, :target => "_blank" do %>
	              <%= image_tag sponsor.img, :class => "sponsor-image", :id => sponsor.id %>
	            <% end %>
			</div>
			<div class="sponsor-txt-container">
				<p class ="sponsor-title"><%= sponsor.title %></p>
				<p class ="sponsor-txt"><%= sponsor.text %></p>
			</div>
		</div>
	<% end %>
</div>
